html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  @include media(640px) {
    padding-top: 8em;
  }
}

main {
  display: flex;
  flex: 1;
}

.l-container {
  margin: 0 auto;
  padding: 1em;
  max-width: $content-width;
  width: 100%;
}
