// ------------------------------------------------- Unique code
.gist {
  margin: 0 auto 1.5em auto;
  width: 600px;
}


// ----------------------------- Circular Images Post
.wrong { border-radius: 50%; }
.wrong-square {
  display: inline-block;
  border-radius: 50%;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}
.correct-blank {
  background: #f9f9f9;
  border: 1px dashed #555;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;

}
.correct-square {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;
}

.correct {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;
}




// ----------------------------- Sandbox
.foo {
  border: 1px solid red;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  .content {
    padding: 100px;
    width: 50%;
    p {
      max-width: 30em;
    }
  }
  .image {
    background-image: url('/images/0K6A1996.jpg');
    background-size: cover;
    background-position: 50%;
    width: 50%;
  }
}


.foobar {
  border: 1px solid red;
  overflow: hidden;
  display: flex;
  margin-bottom: 200px;
  flex-direction: row;
  .content {
    padding: 15% 100px;
    width: 50%;
    p {
      max-width: 30em;
    }
  }
  .image {
    background-image: url('/images/0K6A1996.jpg');
    background-size: cover;
    background-position: 50%;
    width: 50%;
  }
}




.bar {
  border-top: 1px solid white;
  margin-bottom: 200px;
}
