.module__hero {
  @include module-base($blue, $white);
  background-image: url('/images/test.jpg');
  background-size: cover;
  background-position: 50%;
}

.module__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  @include media-query($small) {
    width: 75%;
  }
}
