// ------------------------------------------- Breakpoints
$small: 600px;
$medium: 600px;
$large: 1000px;


@mixin media-query($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin prefix-property($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin transition($arguments) {
  @include prefix-property(transition, unquote($arguments));
}

@mixin transform($arguments) {
  @include prefix-property(transform, unquote($arguments));
}

