---
layout: page
title: cpeak
permalink: /blog/
title: Blog
---

{% for post in site.posts limit:8 %}
  {% include post.html %}
{% endfor %}

<a class='archive-link' href="/archive.html">Older Posts >> </a>

<script>
  $('.index-post').onScreen({
    container: window,
    direction: 'vertical',
    doIn: function() {
      addClass: 'animated'
    },
    doOut: function() {
      toggleClass: 'animated'
    },
    tolerance: 0,
    throttle: 50,
    toggleClass: 'animated',
    lazyAttr: null,
    lazyPlaceholder: 'someImage.jpg',
    debug: false
  });
</script>

