---
layout: default
permalink: /contact
---

<div id="contact-page" class="content--normal fade-in-up-animation">
  <h1 class="section-title">Contact</h1>
  <span><a href="mailto:chrispeak@hey.com" target="blank">{% include icons/email.html %}<span>Email</span></a></span>
  <span><a href="https://github.com/cpeak" target="blank">{% include icons/github.html %}<span>Github</span></a></span>
  <span><a href="https://www.threads.net/@cpeak" target="blank">{% include icons/threads.html %}<span>Threads</span></a></span>
  <span><a href="https://mastodon.social/@cpeak" target="blank">{% include icons/mastodon.html %}<span>Mastodon</span></a></span>
</div>

