---
layout: default
title: Get Bent
permalink: get-bent/
---

<div id="get-bent-intro">
</div>

<section class="component">
  <ul class="blog-previews--large">
    {% for post in site.tags.cycling %}
      <li class="blog-preview--large {{ post.tags }}">{% include _blog-entry.html %}</li>
    {% endfor %}
  </ul>
  <figure class="post-image">
    <img src="/images/posts/IMG_8008.jpg" alt="Linear SWB Recumbent" />
    <figcaption>My (silver) and my wife's (black) LWB Linear Recumbent</figcaption>
  </figure>
  <figure class="post-image">
    <img src="/images/posts/IMG_9812.jpg" alt="Linear SWB Recumbent" />
    <figcaption>Linear SWB Recumbent</figcaption>
  </figure>
</section>
