---
layout: default
permalink: /helmets/
title: Helmets
---
<div class="post">
  <h2>Boba Fett &amp; Daft Punk</h2>
  <p>My first foray into building things from scratch came when I saw a video of a guy building Daft Punk helmets from start to finish. I had a good understanding of how to work with the materials, and thought it would be a fun project, so I dove in. I found the Pepakura templates for these plus a Stormtrooper helmet and started putting them together (unfortunately I realized the Stormtrooper was too small after completing just the dome so I scratched it). Once these were done in paper I hit them with a resin coat outside, then a thin layer of fiberglass and resin on the inside.</p>
  <img src="/images/helmets.jpg" />
  <p>The Daft Punk helmet is pretty much scrap, as it was the first one I did so I was learning as I was building. The back wrap was cast way too thin so it caved in, the edges around the visor are very wobbly and not crisp, plus I think creating the main visor will be way too complicated as I would have to find a vendor to vacuum-form the piece. It was a good learning experience.</p>
  <p>The Boba Fett helmet is actually in pretty good shape despite appearances. I still need to apply resin to the 'ear pieces' and attach them, but other than that, some bondo and more sanding and its ready for primer, sanding, paint, sanding and touch ups. Its certainly not going to win any awards, but I am pleased with it overall. I am building it for a friend who is obsessed with Star Wars, so I hope it will be a fun surprise for him. I'll take another swing at the Stormtrooper helmet after I complete Boba's.</p>
</div>

{% for post in site.tags.helmets %}
  {% include post-listed.html %}
{% endfor %}
