

  <hr />
  <h2>Masonry Grid - Horizontal</h2>
  <p>3 column grid approach using the A paper ratios. Note in some spots the images land at the halfway mark of the images in the neighboring columns</p>
  <div class="grid masonry-horizontal">
    {% for photo in site.data.gallery %}
      <div class="grid-item {{ photo.size }} orientation-{{ photo.orientation }}">
        <img src="{{ photo.url }}" alt="wat">
      </div>
    {% endfor %}
  </div>

  <hr />
  <h2>Grid - Horizontal</h2>
  <p>This is a NO MASONRY approach to a 3 column grid, where the vertical and square images don't bork the layout</p>
  <div class="grid--horizontal">
    {% for photo in site.data.gallery %}
      <div class="grid-item {{ photo.size }} orientation-{{ photo.orientation }}">
        <img src="{{ photo.url }}" alt="wat">
      </div>
    {% endfor %}
  </div>

  <hr />
  <h2>Masonry Grid Rough</h2>
  <p>This is the standard Masonry layout using the A paper ratios. Im noticing some gaps</p>
  <div class="grid">
    {% for photo in site.data.gallery %}
      <div class="grid-item {{ photo.size }} orientation-{{ photo.orientation }}">
        <img src="{{ photo.url }}" alt="wat">
      </div>
    {% endfor %}
  </div>

  <hr />
  <h2>Uniform Grid</h2>
  <p>Straight forwards, setting 1:1 aspect ratio and object fit to cover. Easy</p>

  <div class="gallery__uniform-grid">
    {% for photo in site.data.gallery %}
      <img src="{{ photo.url }}" alt="wat">
    {% endfor %}
  </div>

// --------------------------------------- Masonry Horizontal

.grid.masonry-horizontal {
  display: block;
  margin-bottom: 3em;

  .grid-item {
    width: 33%;
    img {
      padding: 0.5em;
      aspect-ratio: 1.414 / 1;
      object-fit: cover;
      display: block;
      width: 100%;
    }
  }

  .grid-item.orientation-square img {
    aspect-ratio: 1 / 1;
    width: 70.70707%;
    margin: 0 auto;
  }
  .grid-item.orientation-portrait img {
    aspect-ratio: 1 / 1.414;
    width: 71%;
    margin: 0 auto;
  }

  .grid-sizer { width: 33%; }

}
// --------------------------------------- Grid Horizontal
.grid--horizontal {
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;

  .grid-item img {
    aspect-ratio: 1.414 / 1;
    object-fit: cover;
    display: block;
    width: 100%;
  }

  .grid-item.orientation-square {
    img {
      aspect-ratio: 1 / 1;
      object-fit: contain;
      display: block;
      width: 70.70707%;
      margin: 0 auto;
    }

  }
  .grid-item.orientation-portrait {
    img {
      aspect-ratio: 1.414 / 1;
      object-fit: contain;
      display: block;
    }
  }
}

// --------------------------------------- Masonry Grid Rough
.grid {
  display: block;
  margin-bottom: 3em;

  .grid-item {
    width: 20%;
    img {
      aspect-ratio: 1.414 / 1;
      object-fit: cover;
      display: block;
      width: 100%;
    }
  }

  .grid-item.orientation-portrait img {
    aspect-ratio: 1 / 1.414;
  }

  .grid-sizer { width: 20%; }

  .small { width: 20%; }
  .large { width: 40%; }
}
