---
layout: default
permalink: /writing
title: "Writing"
---
<section id="writings--list" class="content--normal fade-in-up-animation">
  <h1 class="section-title">Writing</h1>
  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      <p class="year" id="y{{currentdate}}">{{ currentdate }}</p>
      {% assign date = currentdate %}
    {% endif %}
    <span>
      <p class="date">{{ post.date | date: "%b %d" }}</p>
      <a href="{{ post.url }}" class="nice-link">{{ post.title }}</a>
    </span>
  {% endfor %}
</section>
