---
layout: default
permalink: /year
---

<section class="" id="year">
  {% assign total = 0 %}
  {% for day in site.data.log %}
    <section class="day">
      <h3 class="
                 {% if day.stretched == 'yes' and day.read == 'yes' %}both {% capture total %}{{ total | plus: 1 }}{% endcapture %}{% endif %}
        {% if day.stretched == 'no' and day.read == 'no' %}neither{% endif %}
      ">{{ day.day }}</h3>
      <p class="main">{{ day.accomplishment }}</p>
      <p class="note">{{ day.note }}</p>
      <span class="stretch {{ day.stretched }}"></span>
      <span class="read {{ day.read }}"></span>
    </section>
  {% endfor %}
  <p class="total">{{ total }}</p>
</section>
