/* Speedo Modules CSS */
/* 94c8d5 */

/* ------- Digital Speedometer Panel ----------- */

@font-face{ 
  font-family: 'Dig7';
  src: url('../type/digital-7_mono-webfont.eot');
  src: url('../type/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'),
       url('../type/digital-7_mono-webfont.woff') format('woff'),
       url('../type/digital-7_mono-webfont.ttf') format('truetype'),
       url('../type/digital-7_mono-webfont.svg#webfont') format('svg');
}




#digital_speedo { 
  color: #ff0000; 
  font-family: "Dig7", sans-serif;
  font-size: 110px;
  letter-spacing: 12px;
  padding: 10px;
  text-align: right; 
  text-shadow: 0px 1px 10px #990000; 
  width: 100px;
}

#flux { 
  height: 350px;
  width: 300px;
} 

#flux_capacitor {
  background-image: url('../images/flux2.png');
  height: 600px;
  width: 400px;
  z-index: -10;
}

#needle {
  background: #fff;	
  height: 200px;
  width: 6px;
  margin: 70px auto;
  -webkit-transition: -webkit-transform .35s ease-out;
  -webkit-transform: rotate(-140deg);
  -webkit-transform-origin: 50% 90%;
}

#needle_base { 
  border: 1px solid #444;
  background: #333;
  border-radius: 21px;
  left: 338px;
  top: 249px;
  height: 21px;
  width: 21px;
  z-index: -1;
}


#speedometer { 
  background-image: url('../images/ticks.png');
  background-position: -49px 0px;
  background-repeat: no-repeat;
}


#speedo_numbers {
  color: #fff;
  font-size: 2.2em; 
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  list-style: none; 

}


/* ------- ODOMETER----------- */

#odometer {
  border: 1px solid #666; 
  color: #fff; 
  font-family: Helvetica; 
  font-size: 1.4em; 
  height: 25px;
  letter-spacing: 5px; 
  padding: 1px 2px;
  text-align: right;
  width: 160px;
  z-index: -1;
}



