<div class="l-padded-wrapper">
  <div class="c-about" id="about">
    <section class="c-about__photo">
      <img src="/images/chris-peak.jpg" alt="Chris Peak, Designer and Photographer, Chicago, IL" />
    </section>
    <section class="c-about__bio">
      <h3>About</h3>
      <p>My name is <span>Chris Peak</span> and I am a Designer at <a href="http://www.8thlight.com"  class="link-arrow" target="blank">8th Light</a>. I love building things. I specialize in front end development, working in multiple frameworks and languages. I have recently started to explore the world of React. When not in front of my laptop I enjoy photography.</p>
      <p>You can find my ramblings on <a href="http://www.twitter.com/c_peak" class="link-arrow" target="blank" >Twitter</a>, my code on <a href="http://www.github.com/cpeak" class="link-arrow" target="blank">GitHub</a>, and my photography at <a href="http://www.gorilla-studios.com" class="link-arrow" target="blank">Gorilla-Studios</a>.</p>
    </section>
  </div>
</div>
