<div class="l-padded-wrapper">
  <div class="c-about" id="about">
    <section class="c-about__photo">
      <img src="/images/chris-peak.jpg" alt="Chris Peak, Designer and Photographer, Chicago, IL" />
    </section>
    <section class="c-about__bio">
      <h3>About</h3>
      <p>My name is <span>Chris Peak</span> and I am a Designer at <a href="http://www.8thlight.com"  class="link-arrow" target="blank">8th Light</a>. I love building things. I specialize in front end development across multiple frameworks and languages. Recently I have started several projects in order learn React. When not in front of my laptop I enjoy photography.</p>
    </section>
  </div>
</div>
