<section class="component" id="writing">

  <header class="component__header">
    <h2><span>Writing</span></h2>
  </header>

    <section class="recent-posts-and-pinned">
      <section class="recent-posts">
        <ul>
          {% for post in site.posts | limit: 2 %}
            <li class="blog-preview--large {{ post.tags }}">{% include _blog-entry.html %}</li>
          {% endfor %}
        </ul>
      </section>
      <section class="pinned-posts">
        <h3>Selected posts</h3>
        <ul>
          {% for post in site.tags.pinned | limit: 4 %}
            <li class="blog-preview--small">{% include _blog-entry.html %}</li>
          {% endfor %}
        </ul>
      </section>
    </section>

    <br/>

    <section class="blog-grid--show-more-button">
      <button>Show More</button>
    </section>

    <ul class="blog-previews--small" id="collapsed-posts">
      {% for post in site.posts | offset: 2 %}
        <li class="blog-preview--small">{% include _blog-entry.html %}</li>
      {% endfor %}
    </ul>
</section>

<script>
  $(".blog-grid--show-more-button button").click(function(){
    $("#collapsed-posts").toggleClass("open");
    $(this).text(function(i, text){
          return text === "Show More" ? "Show Less" : "Show More";
      })
  });
</script>
