<div class="component" id="contact">
  <header class="component__header">
    <h2>Contact</h2>
  </header>
  <section class="contact-bar">
    <span>
      <a href="https://twitter.com/c_peak" target="blank">{% include icons/twitter.html %}<span>Twitter</span></a>
    </span>
    <span>
      <a href="https://github.com/cpeak" target="blank">{% include icons/github.html %}<span>Github</span></a></span>
    <span>
      <a href="mailto:chrispeak@hey.com" target="blank">{% include icons/email.html %}<span>Email</span></a>
    </span>
  </section>
</div>
