<div class="component" id="cycling">
  <header class="component__header">
    <h2><span>Cycling</span></h2>
  </header>
  <section class="photo-grid">
    <img src="./images/cycling/sunset-trail.jpg" alt="Badger State Trail in the afternoon sun">
    <img src="./images/cycling/southern-terminus.jpg" alt="Linear recumbent at the Sugar River Trail Terminus">
    <img src="./images/cycling/linear-at-sunrise.jpg" alt="Linear Recumbent at sunrise">
    <img src="./images/cycling/riding-chase.jpg" alt="Riding my Linear Recumbent">
    <img src="./images/cycling/linear-swb.jpg" alt="Linear SWB Recumbent in the corn">
    <img src="./images/cycling/capitol-building.jpg" alt="Linear recumbent at the Wisconsin Capitol">
    <img src="./images/cycling/ice-age-trail.jpg" alt="Linear recumbent on the Ice Age Trail">
    <img src="./images/cycling/sugar-river-trail.jpg" alt="Linear recumbent on the Sugar River Trail">
    <img src="./images/cycling/linear-st-charles.jpg" alt="Linear Recumbent at St Charles Park">
    <img src="./images/cycling/back-roads.jpg" alt="The back roads of southern Wisconsin">
    <img src="./images/cycling/break-time.jpg" alt="Linear recumbent on bike trail">
    <img src="./images/cycling/gear.jpg" alt="Linear recumbent loaded with gear">
  </section>
</div>
