<footer id="site-footer">
  <section id="contact-block">
    <a href="mailto:chrispeak@hey.com" target="blank">{% include icons/email.html %}<span>Email</span></a>
    <a href="https://www.threads.net/@cpeak" target="blank">{% include icons/threads.html %}<span>cpeak</span></a>
    <a href="https://mastodon.social/@cpeak" target="blank">{% include icons/mastodon.html %}<span>mastodon.social/cpeak</span></a>
    <a href="https://github.com/cpeak" target="blank">{% include icons/github.html %}<span>cpeak</span></a>
  </section>
  <p>&copy;2024 | Chris Peak</p>
</footer>
