<header class="site-header">
<a class="brand" href="/"><img class="animated fadeInUp headshot" src="/images/headshot.jpg" alt="Chris Peak Designer 8th Light" /></a>
<p class="animated fadeInUp">My name is <a href="/">Chris Peak</a>, and I am a designer and <a href="http://www.gorilla-studios.com" target="blank">photographer</a> from Chicago, IL. I am currently a Design Craftsman at <a href="http://www.8thlight.com" target="blank">8th Light</a>. In my limited spare time I also like to create things.</p>
  <ul class="animated fadeInUp inline navigation" role="navigation">
    <li><a class="bare" href="/#skills">
      <i class="fa fa-terminal"></i>
      <span>Skills</span>
    </a></li>
    <li><a class="bare" href="/#blog">
      <i class="fa fa-file-text-o"></i>
      <span>Blog</span>
    </a></li>
    <li><a class="bare" href="/#contact">
      <i class="fa fa-mobile-phone"></i>
      <span>Contact</span>
    </a></li>
  </ul>
</header>

<script>
{% include /scroll.js %}
</script>
