<header class="site-header colorful" id="primary-header">
  <ul class="weather-elements">
    <li class="weather-element"><img src="/images/leaf.svg"></li>
    <li class="weather-element"><img src="/images/leaf.svg"></li>
    <li class="weather-element"><img src="/images/leaf.svg"></li>
    <li class="weather-element"><img src="/images/leaf.svg"></li>
    <li class="weather-element"><img src="/images/leaf.svg"></li>
    <li class="weather-element"><img src="/images/leaf.svg"></li>
    <li class="weather-element"><img src="/images/leaf.svg"></li>
    <li class="weather-element"><img src="/images/leaf.svg"></li>
    <li class="weather-element"><img src="/images/leaf.svg"></li>
    <li class="weather-element"><img src="/images/leaf.svg"></li>
  </ul>
  <div id="moon"></div>

  <div class="content">
    <a class="site-anchor" href="/">
      <img class="test" src="/images/cp8.svg" alt="Chris Peak - Home" />
    </a>
    <h3 class="intro-splash">My name is <span>Chris Peak</span>.<br> I am a designer &amp; photographer from Chicago, IL.</h3>
    <p>I am a Designer at <a href="http://8thlight.com" class="underlined" target="blank">8th Light</a> in Chicago, where I spend most of my time creating beautiful &amp; simple websites and applications.</p>
  </div>
</header>
