  <div class="c-hero">
    <section class="c-hero__bio">
      <h1>My name is <span class="highlighted">Chris Peak</span> and I am a designer &amp; web developer.</h1>
      <p>I love building things. I specialize in front end development, working in multiple frameworks and languages, recently diving deep into React. I am a principal designer at <a href="http://www.8thlight.com" target="blank">8th Light</a>. When not in front of my laptop I enjoy photography and playing my guitar.</p>
    </section>
  </div>
