<div class="component" id="visual-design">
  <header class="component__header">
    <h2><span>Visual Design</span></h2>
  </header>
  <section class="visual-design-portfolio">
    <img src="/images/visual-design/just-enuff.svg" alt="Just Enuff band logo" />
    <img src="/images/visual-design/fusion.svg" alt="Fusion Cheerleading design identity" />
    <img src="/images/visual-design/fvas.svg" alt="Fox Valley Astronomical Association" />
    <img src="/images/visual-design/polyglot.svg" alt="Polyglot LA meetup design identity" />
    <img src="/images/visual-design/orin.svg" alt="Orin brand identity and website" />
    <img src="/images/visual-design/ping-pong.svg" alt="8th Light Ping Pong Champions League identity" />
    <img src="/images/visual-design/two-and-seven.svg" alt="Two and Seven Coffee Bar identity" />
    <img src="/images/visual-design/punchcard.svg" alt="Punchcard time management app" />
    <img src="/images/visual-design/dribble.svg" alt="Dribble From The Nipple brand identity" />
  </section>
</div>
