<article class="blog-post fade-in-up-animation">
  <h3>Portal</h3>
  <p>I've been with 8th Light for 13 years, and I've seen it grow from about a dozen employees to close to 150. There were a lot of growing pains, and as we grew as an organization people started losing touch with one another. I couldn't just walk over and tap someone on the shoulder to ask a question, I didn't know what everyone's skill set was.</p>
  <h4>The Problem</h4>
  <p>Knowledge sharing, organizational insights and possible data points, client project spotlights, and a historical record of the company.</p>
  <h4>The Prototype</h4>
  <p>Waza and learning Rails, then React. Re-writing a few times, many iterations.</p>
  <h4>The Project</h4>
  <p>The pitch, adoption, and development</p>
  <figure>
    <img src="/images/portfolio/portal-login.png" alt="Portal login screen" />
    <figcaption>Portal login screen</figcaption>
  </figure>
  <figure>
    <img src="/images/portfolio/portal-employees.png" alt="Portal employee directory" />
    <figcaption>Portal employee directory</figcaption>
  </figure>
  <figure>
    <img src="/images/portfolio/portal-clients.png" alt="Portal client directory" />
    <figcaption>Portal client directory</figcaption>
  </figure>
  <figure>
    <img src="/images/portfolio/portal-goals.png" alt="Portal career goal tracker" />
    <figcaption>Portal career goal tracker</figcaption>
  </figure>
</article>
