<article class="blog-post fade-in-up-animation">
  <h3>SSI Agvance SKY</h3>
  <p>In the fall of 2022 I was brought onboard as a senior designer to help out SSI with their effort to migrate a legacy windows application into a modern web based platform called Agvance SKY. The application has a number of functions, but my area was focused on providing services enabling Farmers and Merchandisers to handle contracts for the purchase, selling, and transportation of grain.</p>
  <h4>Understanding the business model and gaining trust</h4>
  <p>talk about being thrown in the deep end and having to gain trust with SSI</p>
  <figure>
    <img src="/images/portfolio/ssi-legacy.png" alt="SSI Agvance legacy application" />
    <figcaption>Agvance legacy Windows application</figcaption>
  </figure>
  <h4>Identifying areas of opportunity</h4>
  <p>Moving out of the mindset of feature parity</p>
  <figure>
    <img src="/images/portfolio/ssi-prototype-flow.png" alt="Prototype user flow in Figma" />
    <figcaption>Figma prototype user flow</figcaption>
  </figure>
  <h4>Working with their customers</h4>
  <p>Close relationship with their users, user testing, feedback, and iterating on those sessions.</p>
  <figure>
    <img src="/images/portfolio/ssi-dashboard-prototype.png" alt="Prototype of the Grain Dashboard" />
    <figcaption>Agvance Sky Grain dashboard prototype</figcaption>
  </figure>
  <h4>Working with their developers</h4>
  <p>Breaking down the siloed approach of tossing designs over the wall.</p>
  <figure>
    <img src="/images/portfolio/ssi-reports.png" alt="Prototype for running reports" />
    <figcaption>Prototype for running reports</figcaption>
  </figure>
  <h4>Building something better</h4>
  <p>Put it all together - identifying opportunities, making things better, working with the developers, testing with the users, and just making it so much better than they thought it could be.</p>
</article>
