<article class="blog-post fade-in-up-animation">
  <h3>Women Employed</h3>
  <figure>
    <img src="/images/portfolio/we-homepage.png" alt="Women Employed homepage" />
    <figcaption>Women Employed homepage</figcaption>
  </figure>
  <figure>
    <img src="/images/portfolio/we-news.png" alt="Women Employed news page" />
    <figcaption>Women Employed news page</figcaption>
  </figure>
  <figure>
    <img src="/images/portfolio/we-press.png" alt="Women Employed press releases" />
    <figcaption>Women Employed press page</figcaption>
  </figure>
</article>
