* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



// ----------------------------------------------- Globals

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font-family;
  text-transform: uppercase;
  font-weight: 900;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.centered {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.inline li {
  display: inline;
}

code {
  font-size: 0.875em;
  background: lighten($blue, 49%);
  padding: 0 0.25em;
}

// ----------------------------------------------- Inputs
input[type="text"],
input[type="email"],
textarea {
  border: 1px solid $hairline;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

textarea {
  min-height: 15em;
}

input[type="submit"] {
  background: $brand-color;
  border: none;
  color: white;
  float: right;
  font-size: 1em;
  font-family: $base-font-family;
  font-weight: 800;
  padding: 0.5em 2em;
  text-transform: uppercase;
  transition: all 0.15s ease-in;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  &:hover {
    background: darken($brand-color, 5%);
    cursor: pointer;
  }
}

// ----------------------------------------------- Anchor Tags
a {
  color: $black;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;

  &.bare {
    border: none;
  }
  &:hover {
    cursor: pointer;
  }
}

a.underlined {
  border-bottom: 1px solid $hairline;
  &:hover {
    border-color: black;
  }
}




// ----------------------------------------------- Index Blog Links
.blog-link {
  display: block;
  margin: 8px 0 16px 0;
  .blog-post-title {
    margin: 0;
  }
  p {
    margin-bottom: 5px;
  }
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $brand-color;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
