@charset "utf-8";

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$salmon: #C14E51;
$charcoal: #2b2b2b;
$grey:       #828282;
$grey-light: lighten($grey, 40%);
$grey-dark:  darken($grey, 25%);

$black-absolute: #000000;
$blue-navy: #3F576E;
$blue-stone: #304F5F;
$white: #FFF;


$yellow-moon: #FFFE9F;
$blue: #2098D1;
$black: #291F1E;
$hairline: #eee;



$base-font-family: "Merriweather", "merriweather", 'Brandon Grotesque', "brandon-grotesque", sans-serif;
$headline-font-family: 'Brandon Grotesque', "brandon-grotesque", sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;


$font--small: 0.75em;

$spacing-unit:     30px;

$text-color:       #2b2b2b;
$background-color: #ffffff;
$brand-color:      #EE6352;

// Width of the content area
$site-width: 850px;
$content-width:    800px;


// ------------------------------------------- Breakpoints
$small: 600px;
$medium: 1000px;
$large: 1400px;


@mixin media-query($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}



// ----------------------------------------------- Globals
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

$bounce: cubic-bezier(.32, -0.25, .78, 1.27);

.fadeIn {
  animation: fadeIn 0.75s $bounce forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


body {
  background-color: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
  padding-top: 6em;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

blockquote {
  border-left: 2px solid $hairline;
  padding: 1em 0 1em 2em;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font-family;
  text-transform: uppercase;
  font-weight: 900;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.centered {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.inline li {
  display: inline;
}

code {
  font-size: 0.875em;
  background: lighten($blue, 49%);
  padding: 0 0.25em;
}

// ----------------------------------------------- Inputs
#contact {
  line-height: 2em;
}

input[type="text"],
input[type="email"],
textarea {
  background: #f9f9f9;
  border: none;
  border-bottom: 1px solid $hairline;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 1em;
  padding: 5px 10px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

textarea {
  display: block;
  min-height: 10em;
  margin-bottom: 2em;
  padding: 10px;
  width: 100%;
}

input::-webkit-input-placeholder, text-area::-webkit-input-placeholder {
  color: #ccc;
}

input[type="submit"] {
  background: $brand-color;
  border: none;
  color: white;
  font-size: 0.75em;
  font-family: $headline-font-family;
  font-weight: 800;
  padding: 0.5em 2em;
  text-transform: uppercase;
  transition: all 0.15s ease-in;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  &:hover {
    background: darken($brand-color, 5%);
    cursor: pointer;
  }
}

@media screen and (min-width: 600px) {
  #contact {
    font-size: 1.5em;
  }
}

// ----------------------------------------------- Anchor Tags
a {
  color: $black;
  text-decoration: none;
  &.bare {
    border: none;
  }
  &:hover {
    cursor: pointer;
  }
}

a.underlined {
  color: $brand-color;
  border-bottom: 1px solid $brand-color;
  &:hover {
    border-color: black;
    color: black;
  }
}


.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $brand-color;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


.module-title {
  @include media($small) {
    @include span-columns(4);
  }
}

