.blog-post-list.grid {
  @include outer-container(1200px);
  @include media-query($small) {
    .blog-post-link {
      @include span-columns(3);
      @include omega(4n);
      padding: 0 1em;
    }
  }
}


.blog-post-link {
  display: block;
  margin-bottom: 3em;
  padding: 0 0 1em 0;
}

.blog-post-preview {
  display: none;
  @include media-query($small) {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 200px;
    width: 100%;
  }
  &.slug {
    padding: 40px;
    border-radius: 0;
    opacity: 0.25;
  }
}

.blog-post-title {
  font-size: 1.5em;
  line-height: 1em;
  span {
    color: $brand-color;
    display: block;
    font-size: 1rem;
  }
}

.blog-read-more-link {
  border-bottom: 1px solid;
  color: $brand-color;
  font-size: 0.85em;
  transition: all 0.15s ease-in;
  &:hover {
    border-color: $charcoal;
    color: $charcoal;
  }
}



// ------------------------------------------------- Blog Posts - Actual
.blog-post {
  margin: 0 auto;
  max-width: 800px;
  &__title {
    font-size: 1.75em;
    margin: 0;
  }
  &__meta {
    color: #888;
    font-size: 0.55em;
    display: block;
  }
  p {
    margin: 1.5em 0;
    a {
      background: $red--link;
      box-shadow: 0px 0px 0px 1px $red--link;
      &:hover {
        background: lighten($red--link, 20%);
        box-shadow: 0px 0px 0px 1px $red--link;
      }
    }
  }
  img {
    display: block;
  }

  @include media-query($small) {
    .blog-post__title {
      font-size: 2em;
      margin-bottom: 0.75em;
    }
    .blog-post__meta {
      display: inline;
    }
    p {
      font-size: 1em;
      line-height: 1.75em;
    }
    img.small {
      margin: 0 auto;
      max-width: 500px;
    }
    .previous-article,
    .next-article {
    }
  }
  @include media-query($medium) {
    p {
      font-size: 115%;
    }
  }
}


.blog-post__navigation {
  @include outer-container;
  padding: 4em 0 1em 0;
  @include media-query($small) {
    padding: 4em 0;
  }
}

.blog-post__previous-article,
.blog-post__next-article {
  border: 1px solid $hairline;
  display: block;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
  span {
    display: block;
    font-family: $headline-font-family;
    font-size: $font--small;
    text-transform: uppercase;
  }
  @include media-query($small) {
    @include span-columns(6);
    margin-bottom: 0;
  }
}
