.blog-link {
  border-bottom: 1px solid $hairline;
  display: block;
  margin-bottom: 2em;
  padding: 10px;
  text-align: center;
  img {
    margin: 1em 0;
  }
  img.preview {
    border-radius: 50%;
    width: 100px;
  }
  img.slug {
    width: 50px;
  }
  .blog-post-title {
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
    span {
      color: #999;
      font-size: 1rem;
      display: block;
    }
  }
  p {
    font-size: 0.9em;
  }
}


@media screen and (min-width: 600px) {
  .blog-index,
  .module__writing .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .blog-link {
    border-bottom: 1px solid $hairline;
    border-right: 1px solid $hairline;
    margin-bottom: 0;
    padding: 20px;
    width: 33.33%;
    &:nth-child(3n) {
      border-right: none;
    }
    img.preview,
    img.slug {
      padding: 10% 25%;
      width: 100%;
    }
    img.slug {
      padding: 10% 30%;
      opacity: 0.5;
    }
  }
  #writing .content .blog-link:nth-child(n+4) {
    border-bottom: 0;
  }
}
