[class*="module--"] {
  div {
    overflow: hidden;
    padding: 2em 20px;
    i.module-label {
      display: block;
      font-size: 3em;
      margin: 0 auto 20px auto;
      text-align: center;
    }
    section {
      font-size: 0.9em;
    }
  }
}

@media screen and (min-width: 600px) {
  [class*="module--"] {
    padding: 0;
    div {
      overflow: hidden;
      i.module-label {
        color: $black;
        float: left;
        font-size: 6em;
        margin: 0;
        padding: 2em 0;
        width: 50%;
      }
      section {
        float: left;
        font-size: 1.15em;
        padding: 8% 0 5% 0;
        width: 50%;
        max-width: 600px;
        p {
          max-width: 30em;
        }
      }
    }
  }
}

// ---------------------------------------------- Individual Modules
// ----------------------- Portfolio
.module--portfolio {
  background: $black;
  color: white;
  padding: 3em 0;
  p {
    padding: 1.5em;
    text-align: center;
  }
  a {
    color: white;
  }
}

@media screen and (min-width: 600px) {
  .module--portfolio {
    font-size: 1.25em;
  }
}


// ----------------------- Skills
.module--skills {
  background: #f2f2f2;
  button {
    font-size: 1em;
  }
}

// ----------------------- Skills drawer
.toggled-content {
  background: $green;
  color: darken($green, 40%);
  display: none;
  font-size: 0.9em;
  padding: 4em 1em !important;
  position: relative;
  text-align: center;
  ul li {
    margin-bottom: 10px;
  }
  .close-button {
    color: darken($green, 15%);
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &.open .close-button {
    transform: rotate(180deg);
  }
}

@media screen and (min-width: 600px) {
  .toggled-content {
    font-size: 1.15em;
    .close-button {
      right: 20px;
      top: 20px;
    }
    .two-columns {
      padding: 5em !important;
    }
  }
}


// ----------------------- Blog
.module--blog {
  background: $red;
  h3 {
    color: darken($red, 30%);
    text-align: center;
  }
  i {
    color: white !important
  }
  section {
    padding: 4% 0 !important;
    ul li {
      border-bottom: 1px solid rgba(255,255,255,0.25);
      &:last-child {
        border: none;
      }
    }
  }
  section a {
    color: white;
    display: inline-block;
    padding: 2em 1em;
    width: 100%;
    span {
      color: rgba(255,255,255,0.6);
      float: right;
    }
    &:hover {
      background: lighten($red, 5%);
    }
  }
}
@media screen and (min-width: 600px) {
  .module--blog h3 {
    padding-left: 0.6em;
    text-align: left;
  }
}


// ----------------------- Contact
@media screen and (min-width: 600px) {
  .module--contact i {
    font-size: 7em !important;
  }
}



// ------------------------------------------------- Unique code
.gist {
  margin-bottom: 3em;
}
.wrong { border-radius: 50%; }
.wrong-square {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.correct-blank {
  background: #f9f9f9;
  border: 1px dashed #555;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;

}
.correct-square {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;
}

.correct {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;
}


// ------------------------------------------------- BEM GRID
.row {
  overflow: hidden;
  width: 100%;
}

[class*="block__"] {
  float: left;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

@media screen and (#{$medium}) {
  [class*="m--sixth"] { width: 16.66667%; }
  [class*="m--fifth"] { width: 20%; }
  [class*="m--fourth"] { width: 25%; }
  [class*="m--third"] { width: 33.333%; }
  [class*="m--half"] { width: 50%; }
  [class*="m--two-thirds"] { width: 66.666%; }
}

@media screen and ($large) {
  [class*="l--sixth"] { width: 16.66667%; }
  [class*="l--fifth"] { width: 20%; }
  [class*="l--fourth"] { width: 25%; }
  [class*="l--third"] { width: 33.333%; }
  [class*="l--half"] { width: 50%; }
  [class*="l--two-thirds"] { width: 66.666%; }
}

.grid__container {
  overflow: hidden;
}


.example {
  margin-bottom: 1.5em;
  text-align: center;

  [class*="block__"] {
    background: $grey-light;
  }
  @media screen and (#{$medium}) {
    [class*="block__"] {
      border: 1px solid $white;
      background: $blue-navy;
      color: $white;
    }
  }
  @media screen and (#{$large}) {
    [class*="block__"] {
      background: $red;
    }
  }
}

