.intro-splash {
  font-size: 1.5em;
  line-height: 1.25em;
  span {
    color: $brand-color;
  }
}

@media screen and (min-width: 600px) {
  .intro-splash {
    font-size: 3em;
  }
}

// ------------------------------------------------- Twitter feed
#tw-widget1 {
  .user,
  .timePosted,
  .interact,
  img {
    display: none;
  }
  li {
    margin-bottom: 1.5em;
    a {
      border-bottom: 1px solid $hairline;
      //text-decoration: underline;
      &:hover {
        border-color: $black;
      }
    }
  }
}

// ------------------------------------------------- Blog Posts - Index Preview
.blog-post-title span {
  color: #999;
  font-size: 0.875em;
  margin-left: 0.5em;
}
// ------------------------------------------------- Blog Posts - Actual
.post {
  overflow: hidden;
  &-title {
    margin: 0;
  }
  &-meta {
    color: #888;
    font-size: 0.55em;
    display: block;
  }
  p {
    color: #333;
    margin: 1.5em 0;
  }
  a {
    border-bottom: 1px solid $hairline;
    &:hover {
      border-color: $black;
    }
  }
  img.small {
    display: block;
    margin: 0 auto;
    max-width: 500px;
  }
}

@media screen and (min-width: 600px) {
  .post-title {
    margin-bottom: 0.75em;
  }
  .post-meta {
    display: inline;
  }
  .post p {
    font-size: 1.25em;
  }
}


// ------------------------------------------------- Unique code
.gist {
  margin-bottom: 3em;
}
.wrong { border-radius: 50%; }
.wrong-square {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.correct-blank {
  background: #f9f9f9;
  border: 1px dashed #555;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;

}
.correct-square {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;
}

.correct {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;
}
