
// ------------------------------------------------- Instagram
.instagram-strip {
  overflow: hidden;
  margin-bottom: 0.5em;
  img {
    float: left;
    width: 50%;
  }
  @include media-query($small) {
    img {
      width: 25%;
    }
  }
}

// ------------------------------------------------- Twitter feed
#tw-widget1 {
  .user,
  .timePosted,
  .interact {
    display: none;
  }
  li {
    border-bottom: 1px dotted $hairline;
    padding: 15px 0 0 0;
    a {
      border-bottom: 1px solid $brand-color;
      color: $brand-color;
      &:hover {
        border-color: $black;
        color: $black;
      }
    }
    .media img { // Embedded images
      max-height: 400px;
      margin-bottom: 15px;
    }
    .tweet img { // Emoticons
      width: 30px;
    }
    &:first-child {
      padding-top: 0;
    }
  }
}

img[src*="undefined"] {
  display: none;
}


// ------------------------------------------------- Thank You
@media screen and (min-width: 600px) {
  .mail-thanks {
    margin-top: 4em;
  }
}
// ------------------------------------------------- Unique code
.gist {
  margin-bottom: 3em;
}


// ----------------------------- Circular Images Post
.wrong { border-radius: 50%; }
.wrong-square {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.correct-blank {
  background: #f9f9f9;
  border: 1px dashed #555;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;

}
.correct-square {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;
}

.correct {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;
}

