.page-content {
  @include outer-container;
  padding: 20px;
}


[class*="module__"] {
  @include outer-container;
  border-top: 1px solid darken($hairline, 10%);
  margin: 0 auto 3em auto;
  padding-top: 1em;
  max-width: $site-width;;
  @include media-query($small) {
    margin-bottom: 6em;
    .content-wrap {
      @include span-columns(8);
    }
  }
}
