.page-content {
  padding: 20px;
  @include media-query($small) {
    bottom: 0;
    left: 40%;
    overflow-y: scroll;
    padding: 3em;
    position: fixed;
    right: 0;
    top: 0;
  }
}


[class*="module__"] {
  margin: 0 auto 3em auto;
  max-width: 850px;
  .content-wrap {
  }
  @include media-query($small) {
    margin-bottom: 6em;
    .content-wrap {
      margin-left: 3em;
    }
  }
}
