.weather-elements {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.weather-element {
  opacity: 0; // turn off until JS inserts the API class
}



// --------------------------------------------- Breezy
.site-header.breezy {
  .weather-elements {
    opacity: 1;
  }
  .weather-element {
    display: block;
    height: 40px;
    width: 40px;
    -webkit-animation: breeze 20s infinite linear;
    @for $i from 1 through 10 { // iterate through 10 children
      &:nth-child(#{$i}) {
        animation-delay: #{random(60)}s; // randomly delay entrance
        margin-bottom: #{random(8)}em; // randonly set the spacing between items
        img {
          animation-delay: #{random(20)}s;
          transform: scale( #{random(3) * .5}) rotate(#{random(360)}deg);
        }
      }
    }
  }
}


@-webkit-keyframes breeze {
  0% {
    opacity: 0;
    transform: translateX(600px) rotate(0deg);
  }
  10%, 90% {
    opacity: 0.15;
  }
  100% {
    opacity: 0;
    transform: translateX(0) rotate(360deg);
  }
}

// --------------------------------------------- Clear

.site-header.rain {
  .weather-element {
    border-right: 1px solid white;
    display: inline-block;
    height: 30px;
    width: 1px;
    opacity: 0;
    img { display: none; }
    -webkit-animation: rain 0.75s infinite linear;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: #{random(20)}s; // randomly delay entrance
        margin-right: #{random(5)}em;
      }
    }
  }
}


@-webkit-keyframes rain {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  10%, 90% {
    opacity: 0.35;
  }
  100% {
    opacity: 0;
    transform: translateY(999px);
  }
}




.site-header.cloudy,
.site-header.partly.cloudy {
  .weather-element:nth-child(1),
  .weather-element:nth-child(2) {
    animation: clouds 100s infinite linear;
    background: url('/images/cloud.svg');
    background-size: cover;
    display: block;
    height: 40px;
    opacity: 0.25;
    margin-top: 5%;
    width: 60px;
    img {
      display: none;
    }
  }
  .weather-element:nth-child(2) {
    animation: clouds 240s infinite linear;
    display: inline-block;
    animation-delay: 20s;
    opacity: 0.1;
    transform: translate(600px);
  }
}


@keyframes clouds {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(-60px);
  }
}
