.l-padded-wrapper {
  padding: 1em;
  @include media(640px) {
    padding: 5% 15%;
  }
}

.c-about {
  background: $color-off-white;
  padding: 2em;
  @include media(640px) {
    display: flex;
    flex-direction: row;
  }
  @include media(1024px) {
    padding: 4em;
  }
}

.c-about__photo {
  text-align: center;
  img {
    border-radius: 50%;
    max-width: 150px;
    width: 100%;

  }
  @include media(640px) {
    padding-right: 1em;
    width: 25%;
    img {
      display: flex;
      align-self: left;
      max-width: 200px;
    }
  }
  @include media(640px) {
    padding-right: 2em;
  }
}

.c-about__bio {
  font-size: calc(16px + .25vw);
  line-height: 1.5;
  a {
  }
  span {
    font-weight: bold;
  }
  @include media(640px) {
    text-align: left;
    width: 75%;
  }
}
