#writing {
  background: #fff6ea;
  background-image: url('/images/absurdity.png');
}

// --------------------- LAYOUT
.recent-posts-and-pinned {
  ul {
    list-style: none;
    padding: 0;
  }

  @include media(900px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6em;
    padding: 0 10% 5% 10%;
  }
}

// --------------------- PINNED POSTS
.pinned-posts {
  h3 {
    font-size: calc(16px + 1.5vw);
    margin-top: 2.45em;
  }
}

// --------------------- PREVIEW GRID
[class*="blog-previews--"] {
  list-style: none;
  padding: 0;

  @include media(900px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6em;
    padding: 0 10% 5% 10%;
  }
}

// --------------------- INDIVIDUAL PREVIEWS
[class*="blog-preview--"] {
  margin-bottom: 1em;
  padding: 0;

  &[class*="cycling"] h3:after {
    content: url("/images/bent.svg");
    display: inline-block;
    margin-left: .25em;
    opacity: .2;
    width: 1em;
  }

  h3 {
    font-size: calc(16px + 1.75vw);
    margin-bottom: 0;
  }

  p {
    font-size: calc(16px + .4vw);
    line-height: 1.5;
  }

  span {
    color: #832807;
    font-family: $font-family-bold;
    font-size: calc(16px + .3vw);
    text-transform: capitalize;
  }

  a {
    border: 1px solid;
    color: inherit;
    display: inline-block;
    padding: .5em .75em;
    text-decoration: none;
    transition: all .2s ease;

    &:hover,
    &:focus {
      background: $color-black;
      border-color: $color-black;
      box-shadow: 0 0 0 10px $color-highlight;
      color: white;
      outline: none;
    }
  }

  @include media(900px) {
    padding: 2em 0;
  }
}


// --------------------- SHOW MORE / SHOW LESS BUTTON

.blog-grid--show-more-button {
  margin: 0 0 4em 0;
  text-align: center;

  button {
    -webkit-appearance: none;
    background: none;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    font-family: $font-regular;
    padding: .75em 1.25em;
    transition: all .2s ease;

    &:hover,
    &:focus {
      background: $color-black;
      border-color: $color-black;
      box-shadow: 0 0 0 10px $color-highlight;
      color: white;
      outline: none;
    }
  }
}


// --------------------- SMALL POSTS

#collapsed-posts {
  display: none;
  &.open {
    display: grid;
  }
}

.blog-preview--small {
  align-items: center;
  border-bottom: 1px solid #999;
  display: grid;
  grid-template-columns: 65% 35%;
  margin-bottom: 2em;
  padding: 0 0 1em 0;

  &.open {
    background: red;
  }

  h3 {
    font-size: calc(16px + .6vw);
    margin: 0 1em 0 0;
  }

  span {
    font-family: $font-regular;
    font-size: .8em;
  }

  p {
    display: none !important;
  }

  a {
    text-align: center;
    display: block;
  }
}


