.blog__previews {
  padding: 1em;
  transition: all .2s ease;
  @include media(640px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em 5%;
  }
  @include media(1024px) {
    padding: 2em 15%;
  }
}


// --------------------------------- Basic Style
.blog__preview {
  border-bottom: 3px solid $color-yellow;
  color: $color-black;
  display: block;
  padding: 2em 0 1em 0;
  text-decoration: none;
  transition: all .4s ease;
  .blog__preview--tagline {
    color: $color-red;
    font-size: .9em;
    text-transform: uppercase;
  }
  .blog__preview--title {
    font-size: calc(16px + 1.25vw);
    line-height: 1;
    margin: 0;
  }
  .blog__preview--date {
    text-transform: uppercase;
  }
  .blog__preview--text {
    display: none;
    font-size: calc(16px + .25vw);
    line-height: 1.5;
  }
  &:hover,
  &:focus {
    background: lighten($color-yellow, 20%);
    box-shadow: 0 8px 0 0 $color-yellow;
    outline: none;
  }
  @include media(640px) {
    background: white;
    padding: 2em;
    margin: 1em 1%;
    width: 31.333%;
  }
  @include media(1300px) {
    padding: 4em;
  }
}

// --------------------------------- First Entry
.blog__preview:first-child {
  .blog__preview--title {
    font-size: calc(16px + 5vw);
  }
  .blog__preview--text {
    display: block;
  }
  @include media(640px) {
    width: 100%;
  }
}
