// ------------------------------------------------ POST
article.blog-post {
  header {
    margin: 0 auto;
    h1 {
      padding: 1rem 1rem 0 1rem;
      margin-bottom: 0;
    }
    time {
      color: $color-primary;
    }
  }
  h1, h2, h3, h4, h5, p {
    font-size: 1em;
    font-weight: 500;
    margin: 0 auto;
    max-width: $content-width;
    padding: 0 1rem 1rem 1rem;
  }
  h1 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  p {
    font-weight: 300;
    margin-bottom: 1.75em;
  }
  p time {
    font-size: $font-size-text-small;
  }
}

article figure {
  margin: 1em 1em 1.75em 1em;
  img {
    display: block;
    width: 100%;
  }
  figcaption {
    color: $color-gray;
    font-size: $font-size-text-small;
    text-align: right;
  }
}

iframe {
  margin-bottom: 1.5em;
}


// ------------------------------------------------ STANDARD FOOTER
footer.post-navigation {
  display: flex;
  justify-content: space-between;
  padding: 4em 1em;

  section {
    display: flex;
    flex-direction: column;
  }
  span {
    font-size: $font-size-text-small;
    color: #999999;
  }
}
