.blog-categories {
  padding-top: 1em;
  width: 100%;
  @include media(640px) {
    padding-top: 0;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }
  @include media(1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-categories__category {
  padding: 1em;
  .category-title {
    margin: 0;
    text-transform: capitalize;
    span {
      font-size: .7em;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    border-bottom: 1px dotted #ccc;
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    margin-bottom: .25em;
    a {
      color: inherit;
      font-weight: 600;
      text-decoration: none;
      transition: .2s ease;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      font-size: .8em;
    }
  }
}
