$blog-post-content-width: 800px;

@mixin post-content-wrap {
  margin: 0 auto;
  padding: 0 10px;
  max-width: $blog-post-content-width;
}

.blog-post__header {
  background: $mustard;
  background-size: cover;
  background-position: 50%;
  color: $grey-dark;
}

.blog-post__content {
  img {
    display: block;
    margin: 0 auto 3em auto;
  }
  h1, h2, h3, h4, h5 {
    @include post-content-wrap;
    font-size: $font-size--medium;
    margin-bottom: 1.5em;
    letter-spacing: -0.025em;
    @include media-query($small) {
      font-size: $font-size--large;
    }
  }
  ul {
    @include post-content-wrap;
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }
  p {
    @include post-content-wrap;
    font-family: $body-font;
    margin-bottom: 1.5em;
    letter-spacing: -0.025em;
    a {
      border-radius: 3px;
      box-shadow: 0 0 0 2px $highlighting;
      background: $highlighting;
      padding: 0 3px;
      &:hover {
        background: lighten($highlighting, 20%);
        box-shadow: none;
        color: black;
      }
    }
    @include media-query($small) {
      font-size: $font-size--medium;
      line-height: 1.75em;
      margin-bottom: 3em;
    }
    @include media-query($medium) {
      font-size: 1.5em;
    }
  }
}


.blog-post__title {
  display: block;
  font-size: $font-size--large;
  letter-spacing: -0.05em;
  padding: 20% 0;
  margin-bottom: 20px;
  text-align: center;
  &.light {
    color: white;
  }
  span {
    font-size: .75em;
    display: block;
    font-weight: 300;
    letter-spacing: -0.025em;
  }
  @include media-query($small) {
    font-size: 6vw;
    margin-bottom: 1em;
    span {
      font-size: .45em;
    }
  }
  @include media-query($medium) {
    font-size: 6vw;
    padding: 15% 0;
    span {
      font-size: .25em;
    }
  }
}

blockquote {
  @include post-content-wrap;
  border-left: 2px solid $red;
  padding-left: 1.5em;
  margin-bottom: 1.5em;
  @include media-query($small) {
    font-size: $font-size--regular;
  }
}


.blog-post__navigation {
  background: $charcoal;
  text-align: center;
  a {
    color: white;
    display: block;
    padding: 3em 0;
    width: 100%;
    span {
      font-weight: bold;
      display: block;
    }
    &:first-child {
      border-bottom: 1px dotted rgba(255,255,255,.5);
    }
  }
  @include media-query($small) {
    display: flex;
    margin-top: 6em;
    a {
      width: 50%;
      &:first-child {
        border-right: 1px dotted rgba(255,255,255,.5);
        border-bottom: none;
      }
      &:hover {
        background: $black;
      }
    }
  }
}
