.blog-post-category-links {
  margin: 3em auto;
  max-width: $content-width;

  .blog-post-link {
    display: flex;
    flex-direction: column;
    padding: 1em;
    span {
      color: $color-gray;
      font-size: $font-size-text-small;
    }
  }
}
