.blog-post-tile__title,
.blog-post-tile__preview {
  color: inherit;
}


.blog-post-tile__title {
  font-size: $font-size--medium;
  @include media-query($small) {
    font-size: $font-size--large;
    line-height: 1em;
  }
  @include media-query($large) {
    font-size: 2.25em;
  }
}

.blog-post-tile__preview {
  @include media-query($small) {
    margin: $spacing-x-large 0;
  }
}

.blog-post-tile__date {
}

.blog-post-tiles {
  .tile {
    background: $charcoal;
    color: white;
    transition: box-shadow .2s;
    &:hover {
      box-shadow: inset 0 0 10px 1000px rgba(0,0,0,0.3);
    }
  }
  .tile:nth-child(7n+2) { background: $red; }
  .tile:nth-child(7n+3) { background: $waterfall; }
  .tile:nth-child(7n+4) { background: $blue-eggshell; }
  .tile:nth-child(7n+5) { background: $orange; }
  .tile:nth-child(7n+6) { background: $blue-navy; }
  .tile:nth-child(7n+7) { background: $purple; }
  .tile:nth-child(7n+8) { background: $pink; }

  .tile:first-child {
    background: white;
    color: $charcoal;
  }
}

.blog-index__intro {
  padding-top: 4em;
  @include media-query($small) {
    padding-top: 0;
  }
  &:hover {
    cursor: default;
    box-shadow: none !important;
  }
}
