#contact {
  background: $color-black;
  color: white;
  margin-top: 2em;

  @include media(900px) {
    margin-top: 6em;
  }
}

.contact-bar {
  display: flex;
  justify-content: space-between;
  padding: 4em 0;

  > span {
    text-align: center;
    display: flex;
  }

  a {
    align-items: center;
    border: 1px solid white;
    border-radius: 4px;
    color: inherit;
    display: flex;
    font-size: calc(16px + .25vw);
    text-decoration: none;
    transition: .2s ease;
    padding: .5em;

    svg {
      fill: currentColor;
      height: 1.5em;
      width: 1.5em;
      margin-right: .5em;
    }

    span {
      margin-top: 4px;
    }

    &:hover,
    &:focus {
      background: black;
      box-shadow: 0 0 0 10px $color-highlight;
      outline: none;
    }
  }

  @include media(900px) {
    padding: 5% 10% 10% 10%;
    a {
      padding: .5em .75em;
    }
  }
}
