#site-footer {
  padding: 8em 0 4em 0;
  p {
    color: $color-gray--medium;
    font-size: $font-size-text-small;
    text-align: center;
  }

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}
