.c-footer {
  padding: 10%;
  text-align: center;
  svg {
    fill: currentColor;
    height: calc(16px + 1.25vw);
    opacity: 0.3;
  }
  p {
    font-size: .9em;
    opacity: 0.3;
    text-transform: uppercase;
    width: 100%;
  }
  &.default {
  }
}
