.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em;

  img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  @include media(1000px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
    margin-bottom: 2em;

    .full {
      grid-column: span 3;
      aspect-ratio: auto;
    }
  }


  &.square {
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}
