#site-header {
  background: rgba(255,255,255,0.98);
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.05);
  left: 0;
  padding: 1.5em 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all .2s ease;
  z-index: 10;

  nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    max-width: $content-width-wide;
  }

  a {
    margin: 0 2.5%;
    text-align: center;
  }

  a.anchor {
    display: flex;
    svg {
      margin: 0 auto;
      width: 2.5em;
    }
  }

  // ------------------------------------------------ DARK
  @media (prefers-color-scheme: dark) {
    background: $color-slate;
    svg {
      fill: white;
    }
  }
}

#site-header.Home {
  border: none;
  box-shadow: none;
  nav {
    grid-template-columns: 1fr;
  }
  a.nice-link {
    display: none;
  }
}
