body.with-header-spacing {
  margin-top: 80px;
  @include media-query($medium) {
    margin-top: 100px;
  }
}

.site__header {
  border-bottom: 1px solid $hairline;
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.site__header--anchor {
  display: block;
  margin: 10px;
  padding-bottom: 4px;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -.05em;
  max-width: 400px;
  img {
    border-radius: 50%;
    max-width: 60px;
  }
  &:focus {
    outline: none;
    box-shadow: -8px 0px 0px -4px $red;
  }

  @include media-query($medium) {
    font-size: 2em;
    margin: 20px;
  }
}
