.c-hero {
  align-items: center;
  border-left: 10px solid white;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
  display: flex;
  padding: 10% 1em;
  transition: padding .2s ease;
  width: 100%;

  @include media(900px) {
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
    padding: 10% 25% 10% 10%;
  }
}

.c-hero__bio {
  line-height: 1.5;

  h1 {
    font-size: calc(16px + 4vw);
    line-height: 1;
  }

  a {
    color: inherit;
    display: inline-block;
    position: relative;
    &:hover {
      text-decoration: none;
    }
  }

  p {
    color: inherit;
    font-size: calc(16px + .6vw);
    line-height: 1.65;
  }
}


.highlighted {
  background: url("/images/highlight.svg");
  background-repeat: no-repeat;
  background-size: 100% 95%;
}
