#hero {
  padding: 1em;

  h1 {
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1em;
    span {
      color: $color-primary;
    }
  }
  h2 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
  }

  // ------------------------------------------------ DARK
  @media (prefers-color-scheme: dark) {
  }
}

