#hero {
  padding: 1em;

  h1 {
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1em;
    span {
      color: $color-primary;
    }
  }
  h2 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
  }

  a {
    font-size: 1em;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: $color-gray--light;
    text-underline-offset: 2px;
    transition: all .5s ease;
  }
  a:hover {
    color: $color-slate;
    text-decoration-thickness: 3px;
    text-decoration-color: $color-slate;
    text-underline-offset: 8px;
  }

  // ------------------------------------------------ DARK
  @media (prefers-color-scheme: dark) {
    a:hover {
      color: white;
      text-decoration-color: white;
    }
  }
}

