.ibr-layout {
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  width: 100%;

  .full-column {
  }
}

// --------------------------- HEADER
.ibr-header {
  background: #1B1C46;
  display: flex;
  flex-direction: column;
  a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 1em;
  }
  a.logout {
    margin-top: auto;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      background: #475FFD;
      display: inline-block;
      margin-right: .5em;
    }
  }
}

// --------------------------- ISSUE COLUMN
.ibr-issue {
  padding: 2em;
  header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
    text-align: center;
    h1 {
      font-size: 2em;
    }
    span {
      background: #DF6C9D;
      border-radius: 20px;
      color: white;
      display: inline-block;
      font-size: .9em;
      font-weight: 800;
      margin: 0 .5em 1em .5em;
      padding: .5em 1.5em;
    }
  }
}

.ibr-issue__flagged-comment {
  border-radius: 20px;
  background: #62C3EF;
  color: white;
  padding: 0 2em;
  display: inline-block;
  width: auto;
  font-weight: bold;
}

.ibr-issue__translated {
  color: darken(#62C3EF, 40%);
  text-align: right;
  margin: 5px 2em 0 0;
  font-size: .8em;
}

// --------------------------- USER INFORMATION
.ibr-who {
  padding: 2em;
  background: #F5F6FA;
}

.reporter {
  background: white;
  padding: 1em 2em;
  border-radius: 20px;
  border-left: 8px solid #62C3EF;
  margin-right: 1em;
  margin-bottom: 1em;
  span {
    background-image: url('/images/sandbox/dr-teeth.jpg');
    background-size: cover;
  }
}

.reportee {
  border-radius: 20px;
  padding: 1em 2em;
  background: white;
  border-right: 8px solid #62C3EF;
  margin-left: 1em;
  span {
    background-image: url('/images/sandbox/animal.png');
    background-position: 50%;
    background-size: cover;
  }
}

.ibr-profile {
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  text-align: center;
  span {
    border-radius: 50%;
    display: block;
    height: 6em;
    margin: 0 auto;
    width: 6em;
  }
}

.ibr-profile__secondary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  p {
    margin: 0;
  }
}

// --------------------------- ACTION COLUMN
.ibr-action {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.ibr-action__button {
  background: #F5F6FC;
  padding: 1em 2em;
  border-radius: 20px;
  margin-top: auto;
  &:hover {
    cursor: pointer;
  }
}
