#journal {
  padding: 10% 5%;
  .day {
    background: white;
    border-bottom: 1px dotted rgba(0,0,0,0.5);
    margin: 0 auto 4em auto;
    padding-bottom: 2em;
    width: 100%;
    z-index: 1;
  }

  h3 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: calc(14px + 1vw);
  }
  .question {
    font-style: italic;
    font-size: 0.9em;
    color: rgba(0,0,0,0.5);
  }
  .additional {
    font-size: 0.9em;
    color: rgba(0,0,0,0.7);
  }

  @include media(1000px) {
    padding: 10% 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
  }
  @media (prefers-color-scheme: dark) {
    background: #2b2b2b;
    color: white;
    .day {
      background: #2b2b2b;
    }
    .question {
      color: rgba(255,255,255,0.7);
    }
    .additional {
      color: white;
    }
  }
}
