.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  overflow: hidden;
  padding: 1em 0;
  img {
    display: block;
    width: 100%;
  }

  @include media(600px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
  }

  @include media(900px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    padding: 3em;
  }
}
