.photography-module {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 5px;
}

.photography-module__photo {
  padding: 10px;
  width: 50%;
  @include media-query(800px) {
    padding: 2em;
    width: 33.333%;
  }
}
