.recumbent-body {
  background: gray;
  background-image: url('/images/recumbent/riding-peck-farm.jpg');
  background-attachment: fixed;
  background-size: contain;
}

.recumbent-header {
  aspect-ratio: 6/3;
  position: relative;
  .nav-anchor {
    display: block;
    margin: 1em;
    width: 2em;
  }
  .title-container {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 90%);
    bottom: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    h2 {
      color: white;
      font-size: 1.5em;
      display: block;
      max-width: 42rem;
      margin: 0 auto;
      padding: 1em 0.7em;
    }
  }
}

.recumbent-content {
  background: white;
}


@include media(800px) {
  .recumbent-header {
    aspect-ratio: 6/3;
    .title-container h2 {
      font-size: 2.5em;
    }
  }
}
