#resume {
}

.resume__block {
  border-top: 1px dotted #859bb9;
  margin: $spacing-xx-large 0;

  // -------------------------------------------- GENERIC
  h2 {
    color: $color-gray;
    font-size: 1em;
    font-weight: 300;
    margin-top: 1.25em;
  }

  img {
    margin: $spacing-xx-large 0;
    grid-column: 1 / -1;
    width: 100%;
  }

  // -------------------------------------------- CLIENTS
  .client-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
    color: #666;
    grid-gap: 3em;
    margin-top: $spacing-large;
    .logo {
      background: #ffffff;
      display: block;
      margin: 0 auto 5px auto;
      width: 10em;
    }
  }

  // -------------------------------------------- BREAKPOINTS
  @include media(600px) {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: $spacing-xx-large;
  }
}


// -------------------------------------------- EXPERIENCE
#experience {
  header {
    span {
      display: block;
    }
    .title {
      font-weight: 600;
    }
    .company-and-date {
      color: #666;
    }
  }

  .content {
    border-left: 4px solid #859bb9;
    padding-left: $spacing-medium;
    ul li {
      font-style: italic;
      margin-bottom: 0.5em;
    }
    &:first-of-type {
      margin-top: $spacing-large;
    }
  }

}

#skills {
  .skill-grid {
    padding-top: $spacing-medium;
    span {
      border-radius: 4px;
      border: 1px solid #cccccc;
      color: $color-gray;
      display: inline-block;
      font-size: 0.8333em;
      font-weight: 500;
      margin-right: $spacing-small;
      margin-bottom: $spacing-small;
      padding: $spacing-xx-small $spacing-small;
    }
  }
}
