
.foo {
  border: 1px solid blue;
  margin-top: 200px;
}
.bar {
  box-sizing: content-box;
  border: 1px solid red;
  width: 750px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 90%;
  margin: auto;
}
