#sandbox-sidebar {
  background: white;
  position:fixed;
  top: 75px;
  right: 0;
  bottom: 0;
  width: 500px;
  padding: 2em 1em;
  box-shadow: 0 0 4px 0 #999999;
}

#toggle {
  background: white;
  position: absolute;
  left: -44px;
  padding: 1em;
  border: 1px solid #cccccc;
}


.test {
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
  font-size: 14px;
  font-family: 'Open Sans', 'Helvetica';
  text-align: right;
}

th {
  font-weight: normal;
  background: #EFF1F4;
}

th, td {
  border: 1px solid #cccccc;
  padding: 0.5em 1em;
}

tr:nth-child(even) {
  background: #EFF1F4;
}


.caution--yellow {
  background: #FEF9D1;
}

.out-of-balance {
}

.out-of-balance-2 {
  color: #BB3826;
  position: relative;
  padding-right: 1.5em;
  font-weight: 600;

  &:after {
    background: #BB3826;
    color: white;
    content: "!";
    font-size: .7em;
    font-weight: 800;
    padding: 4px;
    font-weight: 300;
    line-height: 1em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 1.5em;
  }
}

.out-3:after {
  background: #D54D3A;
  border-radius: 2px;
  color: white;
  content: "!";
  font-weight: 600;
  margin-left: .5em;
  padding: 0px 8px;
}
