
// ------------------------------------- OVERFLOW WRAPPER
.solar-system__wrap {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  position: absolute;
  right: 0;
  top: 0;
}

.solar-system__wrap::-webkit-scrollbar {
  height: 1.5em;
  width: 1em;
}

.solar-system__wrap::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.5);
}

.solar-system__wrap::-webkit-scrollbar-thumb {
  background-color: white;
}

// ------------------------------------- GUIDE POSTS
// Celestial Plane
.stripe {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.guide-post-track {
  bottom: 2em;
  padding: .25em;
  position: fixed;
  width: 100vw;
  z-index: 10;
  button {
    background: rgba(0,0,0,0.2);
    border-radius: 2px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: .8em;
    display: inline-block;
    margin-right: 1em;
    padding: 4px 8px;
  }
  .tick {
    border-right: 1px solid black;
    position: fixed;
    bottom: 0;
    height: 2em;
  }
}



// ------------------------------------- CONTAINER
.solar-system {
  background: #000000;
  height: 100%;
  overflow-y: hidden;
  position: relative;
  width: 4300000px;
}

.planet-label {
  color: white;
  position: absolute;
}


// ------------------------------------- DISTANCES
// 1392 = 1000px
// Mercury is 62.976m KM or 45,0000px
// Venus is 108.3m km or 77,801px
// Earth 150.99m km or 108,469px
// Mars is 208.73m km or 149,949px
// Jupiter is 769.17m km or 552,564px
// Saturn is 1.494b km or 1073275.862068966
// Uranus is 2.9b km or 2126508.620689655
// Neptune is 4.4764b km or 3215804.59770115
// Pluto is 5.9b km or 4238505.747126437

#foo {
  -webkit-appearance: none;
  background: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: .9em;
  left: 1200px;
  padding: .5em 1em;
  position: absolute;
  top: 10%;
  content: "hello";
  &.expanded {
    content: "goodbye";
  }
}

#distances {
  display: flex;
  flex-direction: column;
  font-size: .8em;
  position: absolute;
  left: 800px;
  top: 5%;
  span {
    padding: .5em;
    text-align: right;
    &:after {
      content: "\2192";
      margin-left: 2em;
    }
  }
}

#voyager-1-distance:after {
  display: inline-block;
  transform: rotate(-35deg);
}

#voyager-2-distance:after {
  display: inline-block;
  transform: rotate(48deg);
}


// ------------------------------------- PLANETARY SYSTEM

.planetary-system {
  bottom: 0;
  position: absolute;
  top: 0;
  &.compare {
    .moon {
      display: none;
    }
  }
}

.planet:after {
  display: block;
  font-size: .9em;
  margin-top: -50px;
  text-align: center;
}

.moon:after {
  display: block;
  font-size: .8em;
  margin-top: 25px;
  opacity: 0.5;
}

// ------------------------------------- THE SUN
#sun {
  background-image: url('../images/solar-system/sun.png');
  background-size: cover;
  background-position: 50%;
  left: -500px;
  border-radius: 50%;
  top: 50%;
  bottom: 0;
  height: 1100px;
  margin-top: -550px;
  position: absolute;
  width: 1100px;
}

// ------------------------------------- MERCURY

#mercury-system {
  left: 45241px;
  width: 3px;
  &.compare {
    left: 700px;
  }
}

#mercury-marker {
  left: 1.4%;
}


#mercury {
  background: #DBD7D7;
  border-radius: 50%;
  height: 3px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 3px;
  &:after {
    content: "Mercury";
  }
}

// ------------------------------------- VENUS
#venus-system {
  left: 77801px;
  width: 8px;
  &.compare {
    left: 800px;
  }
}

#venus {
  background: #C6914A;
  background-image: url('../images/solar-system/venus.png');
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
  height: 8px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 8px;
  &:after {
    content: "Venus";
  }
}

#venus-marker {
  left: 2.1%;
}

// ------------------------------------- EARTH
#earth-system {
  left: 108469px;
  width: 9px;
  &.compare {
    left: 900px;
  }
}

#earth {
  background-image: url('../images/solar-system/earth.png');
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
  height: 9px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 9px;
  &:after {
    content: "Earth";
  }
}

#luna {
  background-image: url('../images/solar-system/moon.png');
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
  height: 3px;
  margin-top: -1px;
  position: absolute;
  right: -276px;
  top: 50%;
  width: 3px;
  &:after {
    content: "The\00a0Moon";
  }
}

#earth-marker {
  left: 2.87%;
}

// ------------------------------------- MARS
#mars-system {
  left: 149949px;
  width: 5px;
  &.compare {
    left: 1000px;
  }
}

#mars {
  background-image: url('../images/solar-system/mars.png');
  background-size: cover;
  border-radius: 50%;
  height: 5px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 5px;
  &:after {
    content: "Mars";
  }
}

#mars-marker {
  left: 3.77%;
}

// ------------------------------------- JUPITER
#jupiter-system {
  left: 552564px;
  width: 102px;
  &.compare {
    left: 1100px;
  }
}

#jupiter {
  background-image: url('/images/solar-system/jupiter.png');
  background-position: 50%;
  background-size: 110%;
  border-radius: 50%;
  height: 102px;
  margin-top: -51px;
  position: absolute;
  top: 50%;
  width: 102px;
  &:after {
    content: "Jupiter";
  }
}

#io {
  background: white;
  border-radius: 50%;
  height: 2px;
  margin-top: -1px;
  position: absolute;
  right: -302px;
  top: 50%;
  width: 2px;
  &:after {
    content: 'Io';
  }
}

#europa {
  background: white;
  border-radius: 50%;
  height: 3px;
  position: absolute;
  right: -481px;
  margin-top: -1px;
  top: 50%;
  width: 3px;
  &:after {
    content: 'Europa';
  }
}

#ganymede {
  background: white;
  border-radius: 50%;
  height: 4px;
  margin-top: -2px;
  position: absolute;
  right: -769px;
  top: 50%;
  width: 4px;
  &:after {
    content: 'Ganymede';
  }
}

#callisto {
  background: white;
  width: 3px;
  right: -1362px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  &:after {
    content: 'Calisto';
  }
}

#jupiter-marker {
  left: 13.0487%;
}

// ------------------------------------- SATURN
#saturn-system {
  left: 1073275px;
  width: 86px;
  &.compare {
    left: 1300px;
  }
}

#saturn {
  border-radius: 50%;
  height: 84px;
  position: absolute;
  top: 50%;
  margin-top: -42px;
  width: 86px;
  &:before {
    background-image: url('../images/solar-system/saturn.png');
    background-position: 50%;
    background-size: cover;
    content: "";
    display: block;
    height: 112px;
    margin-left: -55px;
    width: 220px;
  }
  &:after {
    content: "Saturn";
    margin-top: -150px;
  }
}

#enceladus {
  background: #D0AF68;
  width: 1px;
  right: -172px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  &:after {
    content: "Enceladus";
  }
}

#rhea {
  background: #D0AF68;
  width: 1px;
  right: -235px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  &:after {
    content: "Rhea";
  }
}

#enceladus {
  background: #D0AF68;
  width: 1px;
  right: -172px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  &:after {
    content: "Enceladus";
  }
}

#titan {
  background: #D0AF68;
  width: 4px;
  right: -1000px;
  height: 4px;
  border-radius: 50%;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  &:after {
    content: "Titan";
  }
}

#saturn-marker {
  left: 25.14%;
}

// ------------------------------------- URANUS
#uranus-system {
  left: 2126508px;
  width: 36px;
  &.compare {
    left: 1500px;
  }
}

#uranus {
  background: #C9E6E9;
  background-image: url('../images/solar-system/uranus.png');
  background-size: cover;
  border-radius: 50%;
  height: 36px;
  margin-top: -18px;
  position: absolute;
  top: 50%;
  width: 36px;
  &:after {
    content: "Uranus";
  }
}

#uranus-marker {
  left: 49.43%;
}

// ------------------------------------- NEPTUNE
#neptune-system {
  left: 3215804px;
  width: 35px;
  &.compare {
    left: 1600px;
  }
}

#neptune {
  background: #4864EE;
  background-image: url('../images/solar-system/neptune.png');
  background-size: cover;
  border-radius: 50%;
  height: 35px;
  margin-top: -17px;
  position: absolute;
  top: 50%;
  width: 35px;
  &:after {
    content: "Neptune";
  }
}

#neptune-marker {
  left: 74.56%;
}

// ------------------------------------- PLUTO
#pluto-system {
  left: 4238505px;
  width: 2px;
  &.compare {
    #pluto {
      top: 50%;
    }
    left: 1700px;
  }
}

#pluto {
  background: #DBAE84;
  border-radius: 50%;
  height: 2px;
  margin-top: -1px;
  position: absolute;
  top: 33%;
  width: 2px;
  &:after {
    content: "Pluto";
  }
}

#pluto-marker {
  left: 98.15%;
}
