#visual-design {
  padding: 0;
}

.visual-design-portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3em;

  img {
    max-width: 100%;
  }

  @include media(900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
