#writings--list {
  display: flex;
  flex-direction: column;
  padding: 0;

  h1 {
    padding: 1rem; // needs side padding to offset the hover background alignment
    width: 100%;
  }

  span {
    margin-bottom: 1.5em;
    padding: 0 1em;
  }

  p.date {
    color: #999999;
    font-size: $font-size-text-small;
    font-weight: 400;
    margin: .5em 0 0 0;
  }

  p.year {
    color: $color-primary;
    font-size: $font-size-text-small;
    margin: 1rem;
  }

}

