$grid-border-color: #cccccc;

#year {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10% 5%;

  .day {
    background: white;
    border-bottom: 1px solid $grid-border-color;
    border-right: 1px solid $grid-border-color;
    position: relative;
    padding: 3em 0.75em 1em 0.75em;

    &:nth-child(odd) {
      border-left: 1px solid $grid-border-color;
    }

    &:nth-child(-n+2) {
      border-top: 1px solid $grid-border-color;
    }

    h3 {
      background: black;
      border-radius: 0 0 10px 0;
      color: white;
      font-size: 0.9em;
      font-weight: bold;
      left: 0;
      margin: 0;
      padding: 0.5em 0;
      position: absolute;
      text-align: center;
      top: -1px;
      width: 3em;
      &.both {
        background: #6cc393;
      }
      &.neither {
        background: #990000;
      }
    }

    p {
      margin: 0;
    }

    p.main {
      font-weight: 600;
      margin-bottom: 0.5em;
      line-height: 1em;
    }

    p.note {
      color: #666;
      font-size: 0.9em;
      line-height: 1.2em;
    }


    span {
      background: #eee;
      border-radius: 50%;
      height: .8em;
      left: 3.5em;
      position: absolute;
      top: 0.75em;
      width: .8em;
      &.yes {
        background: #6cc393;
      }
    }
    span.read {
      margin-left: 1.25em;
    }
  }

  .total {
    background: #6cc393;
    border-radius: 22px;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 5%;
    padding: 0.25em 0.5em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10%;
    width: 3em;
  }

  @include media(600px) {
    padding: 20% 5%;
    grid-template-columns: repeat(3, 1fr);
    .day {
      &:nth-child(odd) {
        border-left: none;
      }
      &:nth-child(3n - 2) {
        border-left: 1px solid $grid-border-color;
      }
      &:nth-child(-n+3) {
        border-top: 1px solid $grid-border-color;
      }
    }
  }

  @include media(1000px) {
    padding: 15% 5%;
    grid-template-columns: repeat(5, 1fr);
    .day {
      &:nth-child(3n - 2) {
        border-left: none;
      }
      &:nth-child(5n - 4) {
        border-left: 1px solid $grid-border-color;
      }
      &:first-child {
        border-left: 1px solid $grid-border-color;
      }
      &:nth-child(-n+5) {
        border-top: 1px solid $grid-border-color;
      }
    }
  }

  @include media(1300px) {
    padding: 10% 5%;
    grid-template-columns: repeat(7, 1fr);
    .day {
      &:nth-child(5n - 4) {
        border-left: none;
      }
      &:nth-child(7n - 6) {
        border-left: 1px solid $grid-border-color;
      }
      &:nth-child(-n+7) {
        border-top: 1px solid $grid-border-color;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    li {
      border-color: white;
      h3 {
        background: white;
        color: black;
      }
      p.note {
        color: #eee;
      }
    }
  }
}
