---
---
$salmon: #C14E51;
$grey:       #828282;
$grey-light: lighten($grey, 40%);
$grey-dark:  darken($grey, 25%);

$black-absolute: #000000;
$black: #262626;
$blue-navy: #3F576E;
$red: #990000;
$white: #FFF;





$medium: "min-width: 600px";
$large: "min-width: 1000px";

// ------------------------------------------------- Globals
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s ease-in;
}

body {
  height: 100%;
  background-color: #fff;
  font-family: 'Proxima Nova', 'proxima-nova', sans-serif;
  font-weight: 200;
  font-size: 110%;
  margin: 0;
  overflow: auto;
  padding: 0 0 5em 0;
  -webkit-font-smoothing: antialiased;
}

body.fullscreen {
  padding-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  //font-size: 200%;
  letter-spacing: -1px;
  line-height: 1.25em;
  margin: 0 0 1em 0;
  padding: 0;
}

p {
  line-height: 1.5em;
  margin: 0px 0px 1.5em 0px;
}
p.disclaimer {
  font-size: 80%;
  font-style: italic;
}
img {
  max-width: 100%;
}

a, a:visited {
  color: $salmon;
}
a:hover { color: #000; }

code {
  //color: #093CA2;
  background: #ECF2FF;
  padding: 4px;
}

[class*="image"] {
  max-width: 100%;
}

[class*="image--circular"] {
  border-radius: 50%;
}

.centered { text-align: center; }

.disabled a { color: #eee; }

.standfirst {
  display: block;
  margin: 8%;
}

blockquote {
  border-left: 1px solid #a12828;
  color: #555;
  line-height: 1.5em;
  margin: 1em 0 1.5em 0;
  padding: 0 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// ------------------------------------------------- Block List
$block-size: 50%;
$block-size-large: 33.333%;
ul.block-list {
  overflow: hidden;
  li {
    background-size: cover;
    font-size: 0.875em;
    float: left;
    line-height: 1em;
    padding-top: $block-size;
    position: relative;
    width: $block-size;
    span {
      background: rgba(0,0,0,0.5);
      bottom: 0;
      color: white;
      left: 0;
      opacity: 0;
      padding: 10px;
      position: absolute;
      right: 0;
      text-align: center;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 650px) {
  ul.block-list li {
    padding-top: $block-size-large;
    width: $block-size-large;
  }
}

// ------------------------------------------------- Layout
.main-content {
  font-size: 85%;
  padding: 10px;
}

@media screen and (min-width: 650px) {
  .main-content {
    font-size: 110%;
    margin: 0 auto;
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  .main-content {
    font-size: 140%;
    margin: 0 auto;
    max-width: 1000px;
  }
}


// ------------------------------------------------- Blog Posts
.post {
  border-top: 1px solid #eee;
  padding-top: 1em;
  margin-bottom: 3em;
  color: #444;
  img {
    display: block;
    margin: 0 auto 1.5em auto;
    max-width: 100%;
  }
  &:first-child {
    border: none;
  }
}

[class*='post__headline'] {
  a {
    text-decoration: none;
  }
  span {
    color: #777;
    display: block;
    font-size: .6em;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: .8em;
    margin-bottom: 1em;
  }
}

.archive-link {
  background: #f9f9f9;
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  &:hover {
    background: #f9f9f9;
    cursor: pointer;
  }
}

.pagination {
  margin: 4em auto 0 auto;
  overflow: hidden;
  width: 100%;
  li a {
    float: left;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 33.333%;
  }
}
// ------------------------------------------------- Archive Page

.post-list {
  margin: 1em 0 0 -5px;
  column-gap: 10px;

  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;

  -webkit-column-rule: 1px outset #f2f2f2;
  -moz-column-rule: 1px outset #f2f2f2;
  column-rule: 1px outset #f2f2f2;
}
.post-list li a {
  color: #282828;
  display: block;
  padding: 8px;
  text-decoration: none;
  span {
    color: #C14E51;
    font-size: 80%;
  }
  &:hover {
    color: black;
    span {
      color: black;
    }
  }
}

@media screen and (min-width: 650px) {
  .post-list {
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
  }
}

// ------------------------------------------------- Builds
#projects {
  margin-bottom: 3em;
  overflow: hidden;
  a {
    background-size: cover;
    background-position: 50% 50%;
    display: block;
    padding: 30px;
    text-decoration: none;
    text-shadow: 0 0 40px black;
    &:hover {
    }
    h3 {
      color: white;
      font-weight: bold;
      margin: 5px;
    }
  }
  #mei { background-image: url("/images/starting.jpg"); }
  #boba { background-image: url("/images/boba.jpg"); }
  #daft { background-image: url("/images/daft.jpg"); }
}

@media screen and (#{$medium}) {
  #projects {
    a {
      float: left;
      text-align: center;
      padding-top: 30%;
      padding-bottom: 0;
      width: 33.333%;
    }
  }
}
// ------------------------------------------------- Instagram
#instafeed {
  overflow: hidden;
  a {
    float: left;
    margin-bottom: -5px;
    width: 50%;
    img {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 650px) {
  #instafeed a {
    width: 20%;
  }
}



// ------------------------------------------------- Unique code
.gist {
  margin-bottom: 3em;
}
.wrong { border-radius: 50%; }
.wrong-square {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.correct-blank {
  background: #f9f9f9;
  border: 1px dashed #555;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;

}
.correct-square {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;
}

.correct {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  margin: 0 auto 1.5em auto;
  padding-top: 70%;
  width: 70%;
}


// ------------------------------------------------- BIM GRID
.row {
  overflow: hidden;
  width: 100%;
  }

[class*="block__"] {
  float: left;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

@media screen and (#{$medium}) {
  [class*="m--sixth"] { width: 16.66667%; }
  [class*="m--fifth"] { width: 20%; }
  [class*="m--fourth"] { width: 25%; }
  [class*="m--third"] { width: 33.333%; }
  [class*="m--half"] { width: 50%; }
  [class*="m--two-thirds"] { width: 66.666%; }
}

@media screen and ($large) {
  [class*="l--sixth"] { width: 16.66667%; }
  [class*="l--fifth"] { width: 20%; }
  [class*="l--fourth"] { width: 25%; }
  [class*="l--third"] { width: 33.333%; }
  [class*="l--half"] { width: 50%; }
  [class*="l--two-thirds"] { width: 66.666%; }
}

.grid__container {
  overflow: hidden;
}


.example {
  margin-bottom: 1.5em;
  text-align: center;

  [class*="block__"] {
    background: $grey-light;
  }
  @media screen and (#{$medium}) {
    [class*="block__"] {
      border: 1px solid $white;
      background: $blue-navy;
      color: $white;
    }
  }
  @media screen and (#{$large}) {
    [class*="block__"] {
      background: $red;
    }
  }
}
