/*
  ================================================================
  Global Styling
  ================================================================
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  background-color: #fff;
  font-family: 'Proxima Nova', 'proxima-nova', sans-serif;
  font-size: 105%;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


a, a:visited {
  color: #721515;
  transition: all .25s;
}
a:hover { color: #000; }

code {
  color: #093CA2;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 200%;
  letter-spacing: -1px;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5em;
  margin: 0px 0px 1.5em 0px;
}

ul { list-style: none; margin: 0; padding: 0; }


/*
  ================================================================
  Layout
  ================================================================
*/





.column {
  float: left;
  width: 50%;
}


.standalone {
  color: #444;
  padding: 0 40px;
  margin: 2em auto;
  width: 80%;
}


.main-content {
  margin: 1em auto;
  overflow: hidden;
  max-width: 900px;
  width: 95%;
}

/*
  ================================================================
  Index
  ================================================================
*/
body.full {
  background: #333;
  background: url('/images/blur.jpg');
  background-size: cover;
}


.splash {
  margin: 100px auto;
  width: 50%;
}

.splash img.logo {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

nav {
  display: block;
  margin: 4em auto;
  text-align: center;
}

nav a {
  border-radius: 2px;
  color: white !important;
  margin: 10px;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  background: rgba(0,0,0,.75);
}


/*
  ================================================================
  Header
  ================================================================
*/

header {
  border-bottom: 1px solid #f2f2f2;
  padding: 5%;
  margin-bottom: 2em;
}

header img {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}



/*
  ================================================================
  Blog
  ================================================================
*/

.archive-link {
  background: #f9f9f9;
  display: block;
  margin: 3em auto;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 80%;
}

.archive-link:hover {
  background: #f9f9f9;
  cursor: pointer;
}


.pagination ul { display: block; list-style: none; }


.pagination {
  margin: 1em auto;
  overflow: hidden;
  width: 70%;
}

.pagination li a {
  float: left;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 33%;
}

.disabled a {
  color: #eee;
}






/*
  =======================================================================
  Index Posts
  =======================================================================
*/

.index-post {
  border-top: 1px solid #eee;
  padding: 1em 0;
  margin: 0 auto 4em auto;
  width: 80%;
}


.index-post:first-child {
  border: none;
}


.index-post h1,
.index-post h2,
.index-post h3,
.index-post h4,
.index-post h5 {
  color: #333;
  margin-right: auto;
  margin-left: auto;
}
.index-post h2 a {
  text-decoration: none;
}
.index-post h2 span { /* Post date */
  color: #777;
  font-size: .6em;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: .8em;
  display: block;
}



.index-post p {
  color: #444;
  margin: 1.5em auto;
}

.index-post  img,
.individual-post img {
  display: block;
  margin: 1em auto 0 auto;
  max-width: 100%;
}
.post-ribbon {
  font-size: 70%;
  margin: 0 !important;
  padding: 8px 10px;
  width: 100% !important;
}

/*
  =======================================================================
  Individual Posts
  =======================================================================
*/


.individual-post {
  max-width: 35em;
  margin: 2em auto;
}

.individual-post img {
  max-width: 100%;
}

/*
  =======================================================================
  archive page
  =======================================================================
*/

.post-list li {
  padding: 4px 0;
}


/*
  =======================================================================
  Post Examples Code
  =======================================================================
*/

.wrong { border-radius: 50%; }
.wrong-square {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.correct-blank {
  background: #f9f9f9;
  border: 1px dashed #555;
  margin: 0 auto;
  padding-top: 70%;
  width: 70%;

}
.correct-square {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  margin: 0 auto;
  padding-top: 70%;
  width: 70%;
}

.correct {
  background-image: url('/images/ackbar.jpg');
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 70%;
  width: 70%;
}


/*
  ==============================================================================
  Media Queries
  ==============================================================================
*/

@media all and (max-width: 850px) {
  .main-content {
    padding: 20px;
    width: 100%;
  }
}



@media all and (max-width: 600px) {
  .splash {
    margin: 5% auto;
    width: 90%;
  }
  nav a {
    margin: 5px;
  }
  .main-content {
    font-size: 80%;
  }

  .standalone {
    padding: 0;
    width: 100%;
  }
  header img {
    width: 70px !important;
  }
  .post-ribbon {
    font-size: 100% !important;
    padding: 0 !important;
  }
  .main-content h1,
  .main-content h2,
  .main-content h3,
  .main-content p {
    margin: 0 0 1em 0 !important;
    width: 100% !important;
  }

  .index-post {
    margin: 2em 0;
    width: 100%;
  }

  .pagination {
    margin: 0 !important;
    width: 100%;
  }
}
