* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  background-color: #fff;
  font-family: "proxima-nova", serif;
  font-size: 110%;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


a, a:visited {
  color: #2a4e89;
  transition: all .25s;
}
a:hover { color: #000; }

code {
  color: #093CA2;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5em;
  margin: 0px 0px 1.5em 0px;
}

ul { list-style: none; margin: 0; padding: 0; }


.pagination ul { display: block; list-style: none; }


header {
  border-bottom: 1px solid #f2f2f2;
  padding: 4%;
}

header img {
  display: block;
  margin: 0 auto;
  width: 175px;
}

.main-content {
  margin: 1em auto;
  overflow: hidden;
  max-width: 900px;
  width: 95%;
}


.standalone {
  padding: 0 40px;
}

.column {
  float: left;
  width: 50%;
}









/*
  ==============================================================================
  Media Queries
  ==============================================================================
*/

@media all and (max-width: 850px) {
  body {
    height: auto !important;
    border-bottom: 5px solid #eeebe7;
  }

  .main-content {
    padding: 10px;
    width: 100%;
  }
}



@media all and (max-width: 600px) {
  .main-content {
    font-size: 80%;
  }
  header img {
    width: 100px !important;
  }
  .post-ribbon {
    font-size: 100% !important;
    padding: 0 !important;
  }
  .main-content h1,
  .main-content h2,
  .main-content h3,
  .main-content p {
    margin: 0 0 1em 0 !important;
    width: 100% !important;
  }
}
