/* cpeak.github.com  LAYOUT
  - Chris Peak
  - 04/03/2012
  - SCALE: 12 16 -22- 30 39 52 69
 */


.sidebar {
  background: #f7f5f2;
  border-right: 1px solid #eeebe7;
  position: fixed;
  height: 100%;
  margin-right: 2%;
  width: 20%;
}

.sidebar aside {
  position: absolute;
  bottom: 20px;
  left: 0;
}
.main-content {
  float: right;
  overflow: scroll;
  padding-top: 1.5em;
  width: 77%;
}

section article {
  margin-bottom: 4em;
  max-width: 900px;
}
section article img { max-width: 100%; }




@media all and (max-width: 850px) {
  body {
    height: auto !important;
    border-bottom: 5px solid #eeebe7;
  }
  .sidebar {
    border-bottom: 1px solid #ccc;
    height: 70px;
    padding: 5px 0 0 10px !important;
    width: 100%;
    z-index: 10;
  }
  .sidebar .brand {
    display: inline;
    float: left;
    text-align: left !important;
  }
  .sidebar .brand {
    width: 60px;
  }
  .nav {
    font-size: .8em;
    float: left;
    margin: 1.5em 0 0 10px;
  }

  .nav li { float: left; margin-right: 1em; }
  .nav li a { padding: 10px; }

  .sidebar aside { display: none; }

  .main-content {
    margin-top: 70px;
    width: 100%;
  }
  .main-content article {
    font-size: .8em;
  }
  .standalone {
    padding: 10px;
  }
  .portfolio li {
    width: 48% !important;
  }

}
