/* cpeak.github.com  LAYOUT
  - Chris Peak
  - 04/03/2012 
  - SCALE: 12 16 -22- 30 39 52 69
 */


.sidebar {
  background: #f7f5f2;
  border-right: 1px solid #eeebe7;
  float: left;
  height: 100%;
  margin-right: 2%;
  width: 20%;
}

.sidebar aside {
  position: absolute;
  bottom: 20px;
  left: 0;
}
.main-content {
  max-height: 100%; 
  overflow: scroll;
  padding-top: 1.5em;
  width: 77%;
}

section article {
  margin-bottom: 4em;
  max-width: 1000px;
}
section article img { max-width: 100%; }




@media all and (max-width: 850px) {
  body {
    height: auto !important;
    border-bottom: 5px solid #eeebe7;
  } 
  .sidebar {
    height: 70px;
    padding: 25px 0 0 10px !important;
    width: 100%;
  }
  .sidebar .brand { 
    display: inline;
    float: left;
    text-align: left !important; 
  }
  .sidebar .brand span {
    font-size: 18px !important;
    padding: 14px 10px !important;
  }
  .nav { 
    font-size: .8em;
    float: left;
    margin: -20px 0 0 10px;
  }

  .nav li { float: left; margin-right: 1em; }
  .nav li a { padding: 10px; }

  .sidebar aside { display: none; }

  .main-content {
    width: 100%;
    height: auto !important;
  }
  .main-content article {
    font-size: .8em;
  }
  .standalone {
    padding: 10px;
  }
  .portfolio li {
    width: 48% !important;
  } 

}
