.sidebar { padding: 50px 25px; }

.nav li {
  padding-top: 1.5em;
  text-align: center;
}
.nav li a {
  color: #990000;
  text-decoration: none;
}
.nav li a:hover {
  color: #000;
}

.sidebar .brand {
  display: block;
  text-align: center;
  margin-bottom: 2em;
}
.sidebar .brand span {
  background: #d95b44;
  border-radius: 55px;
  color: #fff;
  font-size: 45px;
  font-weight: normal;
  padding: 30px 20px;
  transition: all .25s;
}
.sidebar .brand span:hover {
  background: #333;
}


.sidebar aside {
  color: #999;
  font-size: .7em;
  padding: 15px;
}
.sidebar aside img {
  float: left;  
  margin-right: 10px;
  width: 75px;
}

.index-post h1,
.index-post h2,
.index-post h3,
.index-post h4,
.index-post h5 {
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}
.index-post p {
  margin: 1.5em auto;
  width: 88%;
} 
.index-post img {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  max-width: 100%;
}

.post-ribbon {
  background-image: -webkit-gradient(linear, 35% 0%, 0% 0%, from(rgb(247, 245, 242)), to(rgb(255, 255, 255)));
  background-image: -moz-linear-gradient(center right, rgb(242, 242, 242) 25%, rgb(255, 255, 255) 80%);
  border-left: 5px solid #d95b44;
  font-size: .8em;
  margin: 0 !important;
  padding: 8px 10px;
  width: 100% !important;
}
  





.animated {
  -webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
}

.animated.hinge{
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

