.archive-link {
  background: #f2f2f2;
  display: block;
  padding: 20px;
  text-align: center;
  margin-bottom: 3em;
}

.archive-link:hover {
  background: #f9f9f9;
  cursor: pointer;
}


/*
  =======================================================================
  Posts
  =======================================================================
*/

.index-post {
  border-top: 1px solid #eee;
  padding: 1em 0;
  margin-bottom: 4em;
}


.index-post:first-child {
  border: none;
}


.index-post h1,
.index-post h2,
.index-post h3,
.index-post h4,
.index-post h5 {
  color: #333;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.index-post h2 a {
  text-decoration: none;
}
.index-post h2 span {
  color: #777;
  font-size: .7em;
  font-weight: normal;
  display: block;
}



.index-post p {
  color: #444;
  margin: 1.5em auto;
  width: 88%;
}

.index-post  img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.post-ribbon {
  font-size: 70%;
  margin: 0 !important;
  padding: 8px 10px;
  width: 100% !important;
}

.pagination {
  margin: 1em auto;
  overflow: hidden;
  width: 70%;
}

.pagination li a {
  float: left;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 33%;
}

.disabled a {
  color: #eee;
}






/*
  =======================================================================
  Archive Page
  =======================================================================
*/

.post-list li {
  padding: 4px 0;
}

