@mixin no-bullet {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@mixin scrollable {
  height: calc(100vh - #{$height-header});
  overflow: scroll;
  position: relative;
}


@mixin highlight-link {
  z-index: 1;
  @include media(640px) {
    text-decoration: none;
    &:before {
      background: #eee;
      content: "";
      height: .55em;
      position: absolute;
      top: .3em;
      width: 100%;
      z-index: -1;
    }
    &:after {
      background: $color-yellow;
      content: "";
      height: .55em;
      position: absolute;
      top: .3em;
      width: 0;
      left: 0;
      transition: width .2s ease;
      z-index: -1;
    }
    &:hover {
      text-decoration: none;
      &:after {
        width: 100%;
      }
    }
    @media (prefers-color-scheme: dark) {
      &:before {
        background: rgba(255,255,255,0.25);
      }
      &:after {
        background: $color-red;
      }
    }
  }
}
