@mixin no-bullet {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@mixin scrollable {
  height: calc(100vh - #{$height-header});
  overflow: scroll;
  position: relative;
}

@mixin letter-spacing {
}

.link-arrow {
	-webkit-transform: translateX(0);
	-webkit-transition: -webkit-transform 0.3s;
	color: $color-slate;
	display: inline-block;
	font-weight: 500;
	outline: none;
	padding: 0 0.5em;
	text-decoration: none;
	transform: translateX(0);
	transition: transform 0.3s;
	vertical-align: bottom;
	white-space: nowrap;
  position: relative;
}

.link-arrow:hover,
.link-arrow::after {
	-webkit-transform: translateX(-1em);
  color: $color-black;
	transform: translateX(-1em);
}

.link-arrow::before,
.link-arrow::after {
	content: '';
	height: 100%;
	position: absolute;
}

.link-arrow::before {
	background: #fff;
	left: 0;
	width: 100%;
	z-index: -1;
}

.link-arrow::after {
	-webkit-transition: -webkit-transform 0.3s;
	background: $color-slate url(../images/arrow_right.svg) no-repeat 50% 50%;
	background-size: 60% auto;
  border-right: 1px solid white;
	left: 100%;
	pointer-events: auto;
	text-align: center;
	transition: transform 0.3s;
	width: 1em;
	z-index: -2;
}

.link-arrow:hover::after,
.link-arrow:focus::after {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

