$content-width: 850px;

$color-black:           #2b2b2b;
$color-cream:           #F8F6F4;
$color-hairline:        #e5e5e5;
$color-ice:             #F8FAFC;
$color-mint:            #9FD8D5;
$color-off-white:       #F7F8F9;
$color-red:             #964440;
$color-slate:           #383C56;
$color-yellow:          #F7C982;
$color-yellow--bright:  #FFD23F;
$color-highlight:       #F8D648;
$color-green:           #3CBBB1;

$font-regular: 'PT Sans', Helvetica, sans-serif;
$font-family-bold: 'PT Sans Narrow', Helvetica, sans-serif;
