.button__box {
  border: 2px solid $color-yellow;
  color: $color-black;
  display: block;
  font-size: calc(16px + .5vw);
  padding: .5em 1em;
  text-decoration: none;
  text-align: center;
  transition: all .4s ease;
  width: 10em;
  margin: 0 auto;
  &:hover,
  &:focus {
    box-shadow: 0 4px 0 0 $color-yellow;
    background: lighten($color-yellow, 20%);
    outline: none;
  }
}
