.centered {
  text-align: center;
}

.section-title {
  letter-spacing: -0.05em;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 10vw;

  @include media-query($medium) {
    font-size: 6vw;
    padding: 7vh 0 5vh 0;
  }
}

.section-subtitle {
  font-size: 5vw;
  margin-top: -5%;
  text-align: center;
  a {
    color: $blue;
  }
  @include media-query($medium) {
    font-size: 3vw;
  }
}
