html {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  line-height: $line-height-text;
}

h1 {
  font-family: $font-family-bold;
  font-size: $font-size-heading-small;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
}

h2 {
  font-family: $font-family-bold;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
}

h3 {
  font-family: $font-family-bold;
  font-weight: normal;
}

p {
  font-size: $font-size-text-medium;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 1.75em;
}

small {
  color: $color-accent;
  font-size: $font-size-heading-x-small;
}

a {
  color: inherit;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}

.section-title {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 auto;
  max-width: $content-width;
  padding: 1em 0;
}
