/* cpeak.github.com 
  - Chris Peak
  - 04/03/2012 
  - SCALE: 12 16 -22- 30 39 52 69
 */


html, body {
  background-color: #f9f9f9;
  background-image: url('/images/bg.png');
  font-family: "prenton", Colaborate-Thin, sans-serif;
  margin: 0;
  padding: 0;
}


a, a:visited { color: #990000; }
a:hover { color: #000; }

.gen_border {
  border-bottom: 1px solid #ccc; 
  border-right: 1px solid #f2f2f2; 
}

code { 
  padding: 4px 5px;
  color: #3366cc;
  font-size: .75em; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: "prenton-condensed";
  margin: 0;
  padding: 0; 
}

h2 { font-size: 52px; padding: 20px 0px 15px 0px; }
h3 { font-size: 39px; margin-top: 15px;  }
h4 { font-size: 30px; margin-top: 5px;  }



p { margin: 0; }

ul { list-style: none; margin: 0; padding: 0; }

.row { padding: 40px; } /* Bootstrap hack - need to fix */

.pagination ul { display: block; list-style: none; }
