/* cpeak.github.com MODULES 
  - Chris Peak
  - 04/03/2012 
  - SCALE: 12 16 -22- 30 39 52 69




  INDEX

  =H HEADER AND NAVIGATION
  =F FOOTER

  =OV OVERRIDES & POST SPECIFIC
  =T TYPOGRAPHY

 */


.content {
  border-right: 1px solid #f2f2f2; 
  border-bottom: 1px solid #ccc; 

  position: relative;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  width: 895px;
}

.content p { 
  color: #333;
  font-family: "prenton",sans-serif;
  font-size: 22px;
  line-height: 1.655em;
  padding-bottom: 15px; 
 }


.m_code_block {
  background: #f4f4f4;
  border: 1px solid #ccc; 
  color: #333; 
  display: inline-block;
  float: left; 
  font-size: 1.5em;
  padding: 10px 10px 20px 10px;  
  margin: 5px 15px;
}




/* ############################################## */
/* ########### HEADER & NAVIGATION ############## */
/* 

  =H HEADER AND NAVIGATION

*/

header { 
  background: #222; 
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#333));
  border-top: 1px solid #000; 
  border-bottom: 1px solid #000;
}

header a { text-decoration: none; }

.navbar .brand{
  float:left;
  font-family: "bistro-script-web";
  font-size: 39px;
  padding: 5px 30px 0px 20px;
  color:#ffffff;
}

.navbar {
  height: 63px;
  margin: 0 auto;
  width: 900px; 
}

.nav a.active { background: #333; color: #fff; }

.nav { 
  float: left;  
  margin: 0; 
  padding: 19px 0px 0px 0px; 
  width: 400px; 
}

.nav li { display: inline; }

.nav li a {
  border-radius: 3px; 
  color: #bbb; 
  font-family: "prenton", sans-serif;
  margin-top: 10px; 
  padding: 8px 10px;
}

.nav li a:hover { background-color: #990000; color: #fff !important;  }

/* ########### FOOTER ########################### */
/* =F						  */

footer { margin: 15px;  }
footer p {
  color: #ccc;
  text-align: center; 
  text-shadow: 0px -1px 1px #fff; 
}




/* ############## INDIVIDUAL BLOG POSTS ################### */

/* Post Date tags that float left */
.m_post_date { 
  background: #5a80b4;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #f2f2f2; 
  color: #bdcfe8; 
  display: inline-block;
  padding: 5px 15px;  
  margin: 10px 0px 0px -18px;
}
.m_post_date a { color: #fff; }
.m_post_date a:hover { color: #bdcfe8; }

/* Dashed line between posts */
.m_post_break {	
  border-bottom: 1px dashed #ccc; 
  margin: 40px auto 0px auto;
  width: 500px;
}

/* Image subtle outline */
.m_post_image { 
  border-bottom: 1px solid #ccc; 
  border-right: 1px solid #f2f2f2; 
  margin-top: 5px;
}

.post { margin-bottom: 40px; padding: 0px 55px; }


/* ###################################################### */
/* ############## PROJECTS MODULES ###################### */
/* Projects page > Design challenges			  */

.m_project {
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 22px;
  width: 388px;
  height: 240px;
}
.m_project p { padding: 0px 10px; }
.m_project .project_description { 
  font-size: .95em; 
  font-style: italic;
  line-height: 1.15em; 
}
.m_project_image { border-bottom: 1px solid #ccc; }

/* ###################################################### */
/* ############## ARCHIVE TAGS ########################## */

.m_tools_list h4 { margin-top: 20px; }

.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li { line-height:28px; }
.tag_box.inline li { float:left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#003366;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

.tag_box a:hover { color: #000; }



/* ################################# */
/* TYPOGRAPHY			     */
/* =T		  		     */




.t_quote_block {
  background: rgba(229, 233, 243, .5);
  border-radius: 3px;
  font-size: 18px !important;
  font-style: italic;
  margin: 15px auto;
  padding: 20px 40px 50px 40px;
  width: 80%; 
}




/* ################################# */
/* Overrides and Post Specific Calls */
/* =OV OVERRIDES		     */

#m_flip_container {
  margin: 0 auto;
  overflow: hidden;
  padding-top: 60px; 
  width: 500px;
}

.m_flip_book {
  border: 1px solid #ccc;
  height: 400px;
  margin: 0 auto 10px auto;
  width: 600px;
}

