
/* cssanimations */

.csstransforms3d .item .inner {
-webkit-animation-name : bookflip;
-webkit-animation-duration : 2s;
-webkit-animation-iteration-count : 1;
-webkit-animation-timing-function : ease-in-out; } 

/* .csstransforms3d #s01 .inner {
-webkit-animation-delay : 1s; } */

.csstransforms3d #s02 .inner {
-webkit-animation-delay : 2s; } 


@-webkit-keyframes bookflip {
from { -webkit-transform : rotateY(0deg); }
50% { -webkit-transform : rotateY(180deg); }
to { -webkit-transform : rotateY(0deg); } }

.csstransforms3d .item {
float : left;
position : relative; 
height : 330px;
width : 220px; 
margin : 0 20px 40px 0;
-webkit-perspective : 400; }

.csstransforms3d .item .inner { 
-webkit-transform-style : preserve-3d; 
-webkit-transition-property : -webkit-transform; 
-webkit-transition-duration : 1s; }

.csstransforms3d .item.flip .inner { 
-webkit-transform : rotateY(-180deg); }

.csstransforms3d .item img {
position : absolute;
top : 0;
left : 0; 
border : 5px solid #000;
-webkit-backface-visibility : hidden; }

.csstransforms3d .item .description {
position : absolute; 
top : 0;
left : 0;
width : 160px; 
height : 270px; 
padding : 20px;
background-color: #f2f2f2;
border : 5px solid #000;

-webkit-backface-visibility : hidden; 
-webkit-transform : rotateY(180deg); }
/* csstransitions */

.csstransitions a { 
-webkit-transition : color .2s linear;
-moz-transition : color .2s linear;
-o-transition : color .2s linear;
transition : color .2s linear; }
/* No alternative required */
/* multiplebgs */

.description p { 
  color: #333 !important; 
  font-size: .85em !important; }


