<section class="module__about">
  <h3 class="module-title"></h3>
  <div class="content-wrap">
      <h1 class="intro-splash">My name is <span>Chris Peak</span>.<br> I am a designer and photographer from Chicago, IL.</h1>
        <p>I am a Design Craftsman at <a href="http://8thlight.com" class="underlined" target="blank">8th Light</a> in Chicago, where I spend most of my time creating beautiful &amp; simple websites and applications. In my free time I enjoy spending time with my wife and daughter, and have also been an avid photographer for over twenty years.</p>
  </div>
</section>

