<section class="component" id="about">
  <h2 class="component-title">About</h2>
  <section class="component-content">
    <p>I fell in love with computers at an early age - fiddling with BASIC on my dad's Apple II, learning Pascal and C++ in High School, and then moving on to HTML which better suited my interests. As the web matured I kept up with the technologies, learning CSS (and SCSS), Javascript, JQuery, and eventually modern tools like React. I strive to design clean, accessible, and beautiful websites &amp; applications.</p>
    <p>I've been lucky enough to work on a diverse palette of projects - from independent record companies and tiny startups, to major insurance companies, law firms, globally recognized art museums, and Fortune 100s.</p>
    <p>I pride myself on being able to step into legacy codebases without previous exposure and almost immediately start delivering work. Having both freelanced and consulted for over a decade I have seen, touched, written in, and worked on more systems than I can count. I am comfortable working from small marketing sites to full-on enterprise level applications. It's not often you find a designer who uses VIM on a daily basis.</p>
    <p>Additionally I have experience in UX Design, UI Design, branding, illustration, and even conference organization and hosting. I am proficient in Photoshop, Illustrator, InDesign, Sketch, and Figma.</p>
    <p>When I'm not working I enjoy <a href="http://www.gorilla-studios.com/" target="blank">photography</a>, astronomy, hiking, riding my recumbent bike, playing my Gretsch, and spending time with my family.</p>
  </section>
</section>
