<section class="component" id="writing">
  <h2 class="component-title">Writing</h2>
  <section class="component-content">
    <section class="blog-post-list--compact">
      {% for post in site.posts %}
        <section class="blog-preview">
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
          <p class="year" id="y{{currentdate}}">{{ currentdate }}</p>
          {% assign date = currentdate %}
        {% endif %}
        <a href={{ post.url}}>{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%m/%d" }}</span>
        </section>
      {% endfor %}
    </section>
  </section>
</section>
