<div class="module__contact">
  <div class="module-title">
    <h3>Contact Me</h3>
  </div>
  <section class="content-wrap">
  <div class="content">
    <form class="content" id="contact"  action="https://formspree.io/cpeak66@gmail.com"
                                        method="POST">
      <p>Hey Chris, my name is <input type="text" name="name" placeholder="Jon Snow">, you can reach me at <input type="email" name="_replyto" placeholder="jsnow@castleblack.com">. I just wanted to say:</p>
      <textarea name="body" placeholder="Message"></textarea>
      <input type="submit" value="Send">
      <input type="hidden" name="_next" value="//chrispeak.me/thanks" />
    </form>
  </div>
  </section>
</div>

