<div class="module--contact" id="contact">
  <div>
    <i class="module-label fa fa-mobile-phone"></i>
    <section>
    <h3><span>Contact me</span></h3>
    <form class="contact" action="//formspree.io/cpeak66@gmail.com"
      method="POST">
      <input type="text" name="name" placeholder="Name">
      <input type="email" name="_replyto" placeholder="Email">
      <textarea name="body" placeholder="Message"></textarea>
      <input type="submit" class="button--normal" value="Send">
      <input type="hidden" name="_next" value="//chrispeak.me" />
    </form>
    </section>
  </div>
</div>
