<section class="component" id="cycling">
  <h2 class="component-title">Cycling</h2>
  <section class="component-content">
    <figure>
      <figcaption>Lienar SWB Recumbent</figcaption>
      <img src="/images/recumbent/swb-sunset.jpg" alt="Linear SWB Recumbent Bicycle" />
    </figure>
    <figure>
      <figcaption>My latest recumbent adventures</figcaption>
      <iframe height='454' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/70878490/latest-rides/6e756ed1083639100e52c171ba8e346e2e1bf5fc'></iframe>
    </figure>
  </section>
</section>
