<section class="component__new" id="graphic-design">
  <h2 class="component-title">Visual Design</h2>
  <section class="component-content gallery">
      <img src="/images/visual-design/polyglot.svg" alt="Polyglot LA logo" />
      <img src="/images/visual-design/scna-keys.svg" alt="T-Shirt graphic for SCNA Software Conference" />
      <img src="/images/visual-design/just-enuff.svg" alt="Just Enuff band logo" />
      <img src="/images/visual-design/fusion.svg" alt="Fusion Extreme Cheerleading logo" />
      <img src="/images/visual-design/windy-city-rails.svg" alt="Windy City Rails" />
      <img src="/images/visual-design/fvas.svg" alt="Fox Valley Astronomical Association logo" />
      <img src="/images/visual-design/orin.svg" alt="Orin USA logo and identity" />
      <img src="/images/visual-design/brain-socket.svg" alt="Brain Socket IO" />
      <img src="/images/visual-design/two-and-seven.svg" alt="Two & Seven Coffee" />
  </section>
</section>
