<section class="component" id="graphic-design">
  <h2 class="component-title">Graphic Design</h2>
  <section class="component-content">
    <figure>
      <figcaption>Just Enuff band logo and branding</figcaption>
      <img src="/images/visual-design/just-enuff.svg" alt="Just Enuff band logo" />
    </figure>
    <figure>
      <figcaption>Fusion Extreme Cheerleading logo and branding</figcaption>
      <img src="/images/visual-design/fusion.svg" alt="Fusion Extreme Cheerleading logo" />
    </figure>
    <figure>
      <figcaption>Fox Valley Astronomical Association logo</figcaption>
      <img src="/images/visual-design/fvas.svg" alt="Fox Valley Astronomical Association logo" />
    </figure>
    <figure>
      <figcaption>Polyglot LA logo and branding</figcaption>
      <img src="/images/visual-design/polyglot.svg" alt="Polyglot LA logo" />
    </figure>
    <figure>
      <figcaption>Orin USA logo, rebrand, and website</figcaption>
      <img src="/images/visual-design/orin.svg" alt="Orin USA logo and identity" />
    </figure>
    <figure>
      <figcaption>Brainsocket.io concept design</figcaption>
      <img src="/images/visual-design/brain-socket.svg" alt="Brain Socket IO" />
    </figure>
  </section>
</section>
