<div id="hero">
  <h1>My name is <span>Chris Peak</span> and I am a designer & web developer.</h1>
  <p>I love solving problems &amp; building things. I specialize in front end development, working in multiple frameworks and languages, most recently diving deep into React + Typescript. I am a Principal Designer at <a href="http://www.8thlight.com" target="blank" alt="8th Light Inc well crafted software" />8th Light</a>. When not in front of my laptop I enjoy photography, working on vintage Apple computers, and riding my recumbent bike.</p>
</div>
