<div class="hero__module">
  <div class="hero__sidebar">
    <img class="hero__headshot" src="/images/chris-peak.jpg" alt="Chris Peak, Designer and Photographer" />
    <h1 class="hero__bio">My name is <span>Chris Peak</span>.<br> I am a designer and photographer from Chicago.</h1>
    <p class="hero__social-links">
    <a href="https://twitter.com/c_peak" target="blank"><img src="/images/twitter.svg" /></a>
    <a href="https://www.instagram.com/gorillastudios/" target="blank"><img src="/images/instagram.svg" /></a>
    <a href="https://dribbble.com/cpeak" target="blank"><img src="/images/dribbble.svg" /></a>
    </p>
  </div>
  <div class="hero__navigation">
    <a href="/blog">Blog</a>
    <a href="#photography">Photography</a>
    <a href="#design">Design</a>
  </div>
</div>

  <script>
    // handle links with @href started with '#' only
    $(document).on('click', 'a[href^="#"]', function(e) {
      // target element id
      var id = $(this).attr('href');

      // target element
      var $id = $(id);
      if ($id.length === 0) {
        return;
      }

      // prevent standard hash navigation (avoid blinking in IE)
      e.preventDefault();

      // top position relative to the document
      var pos = $id.offset().top;

      // animated top scrolling
      $('body, html').animate({scrollTop: pos});
    });
  </script>
