<h2 class="section-title" id="photography">Photography</h2>
<h3 class="section-subtitle"><a href="https://www.instagram.com/gorillastudios/" target="blank">@gorillastudios</a></h3>

<div class="photography-module" id="instafeed">
</div>

<a class="button__pill" href="http://www.gorilla-studios.com" target="blank">My photography site</a>

{% assign url = '{{image}}' %}

<script type="text/javascript">
  var feed = new Instafeed({
    get: "user",
    userId: '372454912',
    clientId: '28ce3bf51fc94bc782b20529f5ef000d',
    accessToken: '372454912.1677ed0.93d681db897b43ebb7cbd5df61be33a3',
    limit: '12',
    resolution: 'standard_resolution',
    template: '<div class="photography-module__photo"><img src="{{ url }}" /></div>'
  });
  feed.run();
</script>
