<div class="module__tiles photography-tiles" id="instafeed">
  <div class="tile module__tiles--title medium"><section>
      <h2 class="centered">Photography<span>@gorillastudios</span></h2>
    </section></div>
</div>

{% assign url = '{{image}}' %}

<script type="text/javascript">
    var feed = new Instafeed({
      get: "user",
      userId: '372454912',
      clientId: '28ce3bf51fc94bc782b20529f5ef000d',
      accessToken: '372454912.1677ed0.93d681db897b43ebb7cbd5df61be33a3',
      limit: '12',
      resolution: 'standard_resolution',
      template: '<div class="tile photography-tile"><img src="{{ url }}" /></div>'
    });
    feed.run();
</script>
