<div id="design" class="module__design">
  <section class="content-wrap">
    <h3 class="title">Design</h3>
    <div class="content">
      <ul class="portfolio">
        <li><img src="/images/portfolio/just-enuff.svg"></li>
        <li><img src="/images/portfolio/spaces.svg"></li>
        <li><img src="/images/portfolio/two-and-seven.svg"></li>
        <li><img src="/images/portfolio/dribble.svg"></li>
        <li><img src="/images/portfolio/als.svg"></li>
        <li><img src="/images/portfolio/owl.svg"></li>
      </ul>
    </div>
  </section>
</div>
