<section class="component__new" id="resume">
  <h2 class="component-title">Resume</h2>

  <section class="resume__block">
    <h3>About</h3>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
  </section>

  <section class="resume__block" id="experience">
    <h3>Experience</h3>
    <div class="content">
      <header>
        <span class="title">Principal Designer</span>
        <span class="company-and-date">8th Light, 2012 - present</span>
      </header>
      <p>For over a decade I have worked as a consultant with companies ranging from startups to Fortune 100s. Primarily responsible for building web application prototypes to validate user research &amp; journey mapping, then take the prototypes into production level code. Experienced in refactoring legacy codebases, setting up new design systems, wireframing greenfield projects, UX research workshops, branding, and conference hosting &amp; management.</p>
      <p>Significant accomplishments include:</p>
      <ul>
        <li>Leading an agro business migrate and improve a legacy Windows application to a cloud based web app.</li>
        <li>Creating a new website and custom CMS system for the Royal Academy of the Arts in London</li>
        <li>Prototyping a custom project management application with the CEO of Groupon</li>
        <li>Creating and user testing a prototype application for libraries content management, specifically catered to those with visual, audio, or other disabilities</li>
        <li>Created a custom internal directory application to track employee knowledge &amp; skillset and encourage &amp; facilitate knowledge sharing among Crafters</li>
      </ul>
    </div>
    <span></span>
    <div class="content">
      <header>
        <span class="title">IT Technician</span>
        <span class="company-and-date">Helping Hand PC, 2010 - 2012</span>
      </header>
      <p>Responsible for intake, diagnosis, and repairs of PC &amp; Mac personal computers, as well as remote/phone IT support for small to medium sized businesses. Handled virus cleanup, data recovery, new PC setup and installation, server management, and hardware troubleshooting.</p>
    </div>
    <span></span>
    <div class="content">
      <header>
        <span class="title">Freelance Web Design &amp; Branding</span>
        <span class="company-and-date">Orin USA, 2010</span>
      </header>
      <p>Was brought in to build a custom website, re-branding initiative, and also write a custom time tracking web application. Worked in weekly iterations meeting with the executive team to give updates and receive critical feedback throughout the entire process.</p>
    </div>
  </section>

  <section class="resume__block" id="skills">
    <h3>Skills</h3>
    <div class="content skill-grid">
      <span>HTML5</span>
      <span>CSS</span>
      <span>Accessiblity</span>
      <span>React</span>
      <span>Typescript</span>
      <span>Angular</span>
      <span>Ruby On Rails</span>
      <span>Sketch/Figma/Miro</span>
      <span>UI/UX Design</span>
      <span>UX Research</span>
      <span>Wireframing</span>
      <span>Adobe Creative Suite</span>
      <span>Photography</span>
      <span>VIM</span>
      <span>Prototype design</span>
      <span>Lean Inception</span>
      <span>Logo Design</span>
      <span>Branding</span>
    </div>
  </section>

  <section class="resume__block">
    <h3>References</h3>
    <div class="content">
      <p>list of references</p>
    </div>
  </section>

  <section class="resume__block">
    <h3>Clients</h3>
    <div class="client-grid">
      <section>
        <img class="logo" src="/images/resume/sittercity.png" alt="SitterCity logo" />
        <span class="client-name">Sittercity</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/groupon.png" alt="Groupon logo" />
        <span class="client-name">Groupon</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/ideo.jpg" alt="IDEO logo" />
        <span class="client-name">IDEO</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/global-citizen.png" alt="Global Citizen logo" />
        <span class="client-name">Global Citizen</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/women-employed.png" alt="Women Employed logo" />
        <span class="client-name">Women Employed</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/zenly.jpg" alt="Zenly logo" />
        <span class="client-name">Zenly</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/legalzoom.png" alt="LegalZoom logo" />
        <span class="client-name">LegalZoom</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/ra.png" alt="Royal Academy of the Arts logo" />
        <span class="client-name">Royal Academy of the Arts</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/shure.png" alt="Shure logo" />
        <span class="client-name">Shure</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/pfizer.png" alt="Pfizer logo" />
        <span class="client-name">Pfizer</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/pekin-insurance.jpg" alt="Pekin Insurance logo" />
        <span class="client-name">Pekin Insurance</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/babylon-health.png" alt="Babylon Health logo" />
        <span class="client-name">Babylon Health</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/ssi.jpg" alt="SSI logo" />
        <span class="client-name">SSI</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/amfam.png" alt="American Family Insurance logo" />
        <span class="client-name">American Family Insurance</span>
      </section>
      <section>
        <img class="logo" src="/images/resume/ikea.jpg" alt="IKEA logo" />
        <span class="client-name">IKEA</span>
      </section>
    </div>
  </section>

</section>
