<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

<body>
  <div class='sidebar animated fadeInLeft'>
  <div class='brand'>
    <a href="/"><img src="/images/anchor.png" /></a>
  </div>
    <ul class="nav">
      <li><a href="/about.html">About</a></li>
    </ul>
  <aside>
    <p><img src='/images/me.png' />Chris Peak is a UX Craftsman with 8th Light Inc. Chicago, photographer, gadget-nerd, and all around gadabout</p>
    <p>&copy; 2013 Chris Peak<p>
  </aside>
  </div>

  <div class='main-content'>
    {{ content }}
  </div>
</body>
</html>
