<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <link rel="alternate" type="application/atom+xml" title="Subscribe to the 8th
      Light blog" href="/rss.xml"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//use.typekit.net/efo2uvx.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link href="/assets/css/blog.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/layout.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

    <script src="/assets/js/jquery-1.4.2.min.js"></script>
    <script src="/assets/js/modernizr-1.5.min.js"></script>
  </head>

<body>
  <section class='sidebar animated fadeInLeft'>
  <a class="brand" href="/"><span class='fontello icon-paper-plane'></span></a>
    <ul class="nav">
      {% assign pages_list = site.pages %}
      {% assign group = 'navigation' %}
      {% include JB/pages_list %}
    </ul>
  <aside>
    <p><img src='/images/me.png' />Chris Peak is a UX Craftsman with 8th Light Inc. Chicago, photographer, gadget-nerd, and all around gadabout</p>
    <p>&copy; 2013 Chris Peak<p>
  </aside>
  </section>

  <section class='main-content'>
    {{ content }}
  </section>
  {% include JB/analytics %}
</body>
</html>
