---
layout: default
---
<article class="blog-post content--wide fade-in-up-animation" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post-navigation content--normal">
    {% if page.previous.url %}
      <section>
        <span>Previous Post</span>
        <a class="nice-link" href={{ page.previous.url }}>{{ page.previous.title }}</a>
      </section>
    {% endif %}

    {% if page.next.url %}
      <section>
        <span>Next Post</span>
        <a class="nice-link" href={{ page.next.url }}>{{ page.next.title }}</a>
      </section>
    {% endif %}
  </footer>

</article>
