---
layout: default
---
<div class="blog-post">
  <header class="blog-post__header"
          {% if page.header-background-image %}
            style="background-image: url('/images/{{ page.header-background-image }}"
          {% else if page.header-background %}
            style="background-color:#{{ page.header-background }}"
          {% endif %}
  >

    <h1 class="blog-post__title {% if page.header == 'light' %}light{% endif %}">{{ page.title }} <span class="blog-post__meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span></h1>
  </header>

  <article class="blog-post__content">
    {{ content }}
  </article>

  <div class="blog-post__navigation">

    {% if page.next_in_category.url %}
      <a class="blog-post__previous-article" href="{{ page.previous.url }}"><span>Previous Post</span>{{ page.previous.title }}</a>
    {% endif %}

    {% if page.previous_in_category.url %}
      <a class="blog-post__next-article" href="{{ page.next.url }}"><span>Next Post</span>{{ page.next.title }}</a>
    {% endif %}
  </div>
</div>
