* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.content {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 10px;
  position: relative; }

@media screen and (min-width: 650px) {
  [class*="panel__half"] {
    width: 50%; }

  .panel__half--left {
    float: left;
    padding-right: 20px; }

  .panel__half--right {
    border-left: 1px solid #999;
    float: right;
    padding-left: 20px; } }
/* Clearfix */
.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

.row {
  margin: 0 auto;
  overflow: hidden; }

.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px; }

.row.collapse .column,
.row.collapse .columns {
  padding: 0; }

.row .row.collapse {
  margin: 0; }

.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 10px;
  position: relative; }

.column.centered,
.columns.centered {
  float: none;
  margin: 0 auto; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

[class*="column"] + [class*="column"].end {
  float: left; }

.row .one {
  width: 8.333%; }

.row .two {
  width: 16.667%; }

.row .three {
  width: 25%; }

.row .four {
  width: 33.333%; }

.row .five {
  width: 41.667%; }

.row .six {
  width: 50%; }

.row .seven {
  width: 58.333%; }

.row .eight {
  width: 66.667%; }

.row .nine {
  width: 75%; }

.row .ten {
  width: 83.333%; }

.row .eleven {
  width: 91.667%; }

.row .twelve {
  width: 100%; }

.row .offset-by-one {
  margin-left: 8.333%; }

.row .offset-by-two {
  margin-left: 16.667%; }

.row .offset-by-three {
  margin-left: 25%; }

.row .offset-by-four {
  margin-left: 33.333%; }

.row .offset-by-five {
  margin-left: 41.667%; }

.row .offset-by-six {
  margin-left: 50%; }

.row .offset-by-seven {
  margin-left: 58.333%; }

.row .offset-by-eight {
  margin-left: 66.667%; }

.row .offset-by-nine {
  margin-left: 75%; }

.row .offset-by-ten {
  margin-left: 83.333%; }

.push-two {
  left: 16.667%; }

.pull-two {
  right: 16.667%; }

.push-three {
  left: 25%; }

.pull-three {
  right: 25%; }

.push-four {
  left: 33.333%; }

.pull-four {
  right: 33.333%; }

.push-five {
  left: 41.667%; }

.pull-five {
  right: 41.667%; }

.push-six {
  left: 50%; }

.pull-six {
  right: 50%; }

.push-seven {
  left: 58.333%; }

.pull-seven {
  right: 58.333%; }

.push-eight {
  left: 66.667%; }

.pull-eight {
  right: 66.667%; }

.push-nine {
  left: 75%; }

.pull-nine {
  right: 75%; }

.push-ten {
  left: 83.333%; }

.pull-ten {
  right: 83.333%; }
