html, body {
  color: #444;
  font-family: 'arsenal', serif;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 0; }

h1, h2, h3, h4, h5 {
  line-height: 1.25em;
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a, a:visited {
  color: #000;
  transition: all 0.15s ease-in; }

a img {
  border: none; }

img {
  max-width: 100%; }

hr {
  max-width: 800px;
  margin: 2em auto;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent); }

.block {
  text-align: justify; }

.centered {
  text-align: center; }

h2.title {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  margin-bottom: 1em; }

ul.bullet {
  list-style-type: disc; }
  ul.bullet li {
    margin-left: 25px; }
